/*
Error: Invalid CSS after "  font-size(42)": expected "{", was ";"
        on line 56 of /Users/Kathryn/Sites/pubteach4all/docroot/sites/all/themes/tweme/sass/_typography.scss
        from line 27 of /Users/Kathryn/Sites/pubteach4all/docroot/sites/all/themes/tweme/sass/style.scss

51:   #page-title {
52:     @include h1;
53:   }
54: }
55: h2.news__title {
56:   font-size(42);
57:   line-height: 48px
58: }

Backtrace:
/Users/Kathryn/Sites/pubteach4all/docroot/sites/all/themes/tweme/sass/_typography.scss:56
/Users/Kathryn/Sites/pubteach4all/docroot/sites/all/themes/tweme/sass/style.scss:27
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/Kathryn/.rvm/gems/ruby-2.0.0-p247/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  font-size(42)\": expected \"{\", was \";\"\A         on line 56 of /Users/Kathryn/Sites/pubteach4all/docroot/sites/all/themes/tweme/sass/_typography.scss\A         from line 27 of /Users/Kathryn/Sites/pubteach4all/docroot/sites/all/themes/tweme/sass/style.scss\A \A 51:   #page-title {\A 52:     @include h1;\A 53:   }\A 54: }\A 55: h2.news__title {\A 56:   font-size(42);\A 57:   line-height: 48px\A 58: }"; }
