/**
*   #Table of Contents
**/
/** #Imports #Font-Face #Styleguide - Typography #Global Elements #Header #Main Navigation #Uber Navigation #Footer #Images #Supporters Widget
**/
/**
*   #Imports
**/
/**
*	#Table of Contents
**/
/**
	#Colours
**/
/**
* #Font-Face
**/
@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Book.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Bold.otf"); font-style: normal; font-weight: bold; }

@font-face { font-family: "News Gothic"; src: url("../fonts/FSerStdA-Medium.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "News Gothic"; src: url("../NewsGothic-DemiBold.otf"); font-style: normal; font-weight: bold; }

/**/
/**
* #Styleguide - Typography
**/
h1, .h1 { font-size: 42px; font-size: 2.47059rem; }

h2, .h2 { font-size: 25px; font-size: 1.47059rem; }

h3, .h3 { font-size: 18px; font-size: 1.05882rem; }

h4, .h4 { font-size: 16px; font-size: 0.94118rem; }

a { color: #cf4753; }
a:hover { color: #cf4753; text-decoration: none; }

body { color: #91998c; font-size: 17px; font-size: 1rem; font-family: "Fedra Serif", serif; }

.small-body { font-size: 16px; font-size: 0.94118rem; }

.blurb { font-size: 36px; font-size: 2.11765rem; }

/**/
/**
* #Global Elements
**/
.page-title { text-align: center; }

/**/
/**
* #Header
**/
.header { margin-top: 10px; }

.site-name { text-align: center; }
.site-name img { margin-bottom: 20px; }

.donate { background-color: #e69740; color: white; letter-spacing: 2px; margin-top: -4px; padding: 5px 5px 3px 5px; font-size: 14px; font-size: 0.82353rem; }
.donate:hover { background-color: #cf4753; color: white; cursor: pointer; }

.social-media { font-size: 24px; font-size: 1.41176rem; color: #91998c; padding-top: 3px; }
.social-media:hover { color: #cf4753; cursor: pointer; text-decoration: none; }
.social-media[class*=" icon-"] { vertical-align: middle; }

/**/
/**
* #Main Navigation
**/
.navbar-medium .region-main-navigation li a { color: #dfd9c9; padding: 15px 15px 12px 15px; }
.navbar-medium .region-main-navigation li a:hover { background-color: #e69740; color: white; }
.navbar-medium .navbar-inner { background-color: #3c3835; background-image: none; border: none; padding: 0; text-align: center; }

.navbar { font-weight: bold; }
.navbar .region-main-navigation { letter-spacing: 2px; text-transform: uppercase; font-size: 14px; font-size: 0.82353rem; }
.navbar .region-main-navigation ul { margin-bottom: 0; margin-top: 12px; }
.navbar .region-main-navigation .content .menu .menu { display: none; background-color: #4d4d4d; left: 0; margin-left: 0; margin: 8px 0 0 0; padding: 0; position: absolute; text-transform: none; width: 100%; z-index: 9999; }
.navbar .region-main-navigation .content .menu .menu li { border-bottom: 1px solid #92998d; margin: 0; padding: 0; width: 100%; }
.navbar .region-main-navigation .content .menu .menu li.last { border: none; margin-bottom: 0; }
.navbar .region-main-navigation .content .menu .menu a { display: block; padding: 8px 8px 5px 15px; }
.navbar .region-main-navigation li { float: left; list-style-type: none; list-style-image: none; margin: 0; padding: 0; position: relative; }
.navbar .region-main-navigation li:hover { border-color: #3c3835; }
.navbar .region-main-navigation li.expanded:hover .menu { display: block; }

/**/
/**
* #Uber Navigation
**/
.uber-nav { font-family: "News Gothic"; font-weight: bold; }
.uber-nav .content > .menu { position: relative; }
.uber-nav .content > .menu li:hover .menu { display: block; }
.uber-nav .content > .menu li { position: relative; }
.uber-nav .content > .menu li a { letter-spacing: 1px; }
.uber-nav .content > .menu li a.active { color: #cf4753; }
.uber-nav .content > .menu li.last a { border-right: none; }
.uber-nav a { border-right: 1px solid #e69740; color: #92998d; margin-left: -4px; padding: 3px 10px; text-transform: uppercase; font-size: 14px; font-size: 0.82353rem; }
.uber-nav a:hover { color: #cf4753; }
.uber-nav ul { margin-left: 0; }
.uber-nav .menu .menu { display: none; background-color: white; border: 1px solid #e69740; left: -5px; position: absolute; width: 100px; z-index: 9999; padding-left: 3px; text-align: left; }
.uber-nav .menu .menu a { border: none; font-size: 14px; font-size: 0.82353rem; display: block; margin: 0 3px 5px 3px; padding: 0; text-transform: none; }
.uber-nav .menu .menu a:hover { background-color: transparent; color: #cf4753; }
.uber-nav .menu .menu a:first-child { margin-top: 5px; }
.uber-nav .menu .menu a.active { background-color: transparent; }
.uber-nav .menu .menu li { display: block; }
.uber-nav .menu > li { display: inline; margin: 0; padding: 0; }
.uber-nav .menu > li a:hover { background-color: #e69740; color: white; }
.uber-nav ul li { line-height: 1em; }
.uber-nav ul li.expanded, .uber-nav ul li.leaf { list-style-type: none; list-style-image: none; }

/**/
/**
* #Footer
**/
#footer { background-color: #4d4d4d; border: none; }

.footer-menu ul { margin: 0; }
.footer-menu ul li { list-style-type: none; list-style-image: none; margin: 0; }
.footer-menu ul li a { font-size: 12px; font-size: 0.70588rem; }
.footer-menu .content > ul > li > a { color: #dfd9c9; text-transform: uppercase; }
.footer-menu .content > ul > li:nth-child(3), .footer-menu .content > ul > li:nth-child(4) { float: right; }

/**/
/**
* #Images
**/
img { max-width: 100%; }

#googlemap img { max-width: none; }

/**/
/**
* #Supporters Widget
**/
.widget_supporters { background-color: white; text-align: center; }
.widget_supporters .title { color: #ffb151; display: block; padding: 10px 0; }
.widget_supporters ul { padding: 0px; margin: 0px; }
.widget_supporters p { font-size: 13px; font-size: 0.76471rem; line-height: 1.5em; }

/**/
