/**
*   #Table of Contents
**/
/** #Imports #Font-Face #Styleguide - Typography #Header #Main Navigation #Uber Navigation
**/
/**
*   #Imports
**/
/**
*	#Table of Contents
**/
/**
	#Colours
**/
/**
* #Font-Face
**/
@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Book.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Bold.otf"); font-style: normal; font-weight: bold; }

@font-face { font-family: "News Gothic"; src: url("../fonts/FSerStdA-Medium.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "News Gothic"; src: url("../NewsGothic-DemiBold.otf"); font-style: normal; font-weight: bold; }

/**/
/**
* #Styleguide - Typography
**/
h1, .h1 { font-size: 42px; font-size: 2.47059rem; }

h2, .h2 { font-size: 25px; font-size: 1.47059rem; }

h3, .h3 { font-size: 18px; font-size: 1.05882rem; }

h4, .h4 { font-size: 16px; font-size: 0.94118rem; }

a { color: #cf4753; }
a:hover { color: #cf4753; text-decoration: none; }

body { color: #91998c; font-size: 17px; font-size: 1rem; font-family: "Fedra Serif", serif; }

.small-body { font-size: 16px; font-size: 0.94118rem; }

.blurb { font-size: 36px; font-size: 2.11765rem; }

/**/
/**
* #Header
**/
.header { margin-top: 10px; }

.site-name { text-align: center; }
.site-name img { margin-bottom: 20px; }

.donate { background-color: #e69740; color: white; letter-spacing: 2px; margin-top: -4px; padding: 5px; font-size: 11px; font-size: 0.64706rem; }
.donate:hover { background-color: #cf4753; color: white; cursor: pointer; }

.social-media { font-size: 24px; font-size: 1.41176rem; color: #91998c; padding-top: 3px; }
.social-media:hover { color: #cf4753; cursor: pointer; text-decoration: none; }
.social-media[class*=" icon-"] { vertical-align: middle; }

/**/
/**
* #Main Navigation
**/
.navbar-medium .nav > li > a { color: #dfd9c9; font-weight: bold; padding-top: 2px; }
.navbar-medium .nav > li > a:hover { color: #e69740; }
.navbar-medium .navbar-inner { background-color: #3c3835; background-image: none; text-align: center; }

.navbar { font-weight: bold; }
.navbar .nav { float: none; margin: 15px auto 0; letter-spacing: 2px; text-transform: uppercase; width: 86%; font-size: 12px; font-size: 0.70588rem; }
.navbar .nav li { border-right: 1px solid #ffb151; height: 12px; }
.navbar .nav li:last-child { border-right: none; }

/**/
/**
* #Uber Navigation
**/
.uber-nav { font-family: "News Gothic"; font-weight: bold; }
.uber-nav .content > .menu { position: relative; }
.uber-nav .content > .menu li:hover .menu { display: block; }
.uber-nav .content > .menu li { position: relative; }
.uber-nav .content > .menu li a { letter-spacing: 1px; }
.uber-nav .content > .menu li a.active { color: #cf4753; }
.uber-nav .content > .menu li.last a { border-right: none; }
.uber-nav a { border-right: 1px solid #e69740; color: #92998d; margin-left: -4px; padding: 3px 10px; text-transform: uppercase; font-size: 14px; font-size: 0.82353rem; }
.uber-nav a:hover { color: #cf4753; }
.uber-nav ul { margin-left: 0; }
.uber-nav .menu .menu { display: none; background-color: white; border: 1px solid #e69740; left: -5px; position: absolute; width: 100px; z-index: 9999; padding-left: 3px; text-align: left; }
.uber-nav .menu .menu a { border: none; font-size: 14px; font-size: 0.82353rem; display: block; margin: 0 3px 5px 3px; padding: 0; text-transform: none; }
.uber-nav .menu .menu a:hover { background-color: transparent; color: #cf4753; }
.uber-nav .menu .menu a:first-child { margin-top: 5px; }
.uber-nav .menu .menu a.active { background-color: transparent; }
.uber-nav .menu .menu li { display: block; }
.uber-nav .menu > li { display: inline; margin: 0; padding: 0; }
.uber-nav .menu > li a:hover { background-color: #e69740; color: white; }
.uber-nav ul li { line-height: 1em; }
.uber-nav ul li.expanded, .uber-nav ul li.leaf { list-style-type: none; list-style-image: none; }

/**/
/**
* #Images
**/
img { max-width: 100%; }

#googlemap img { max-width: none; }

.widget_supporters { width: 235px; height: 185px; background-color: white; float: right; }
.widget_supporters ul { padding: 0px; margin: 0px; }

/**/
