/**
*   #Table of Contents
**/
/** #Imports #Font-Face #Styleguide - Typography #Global Elements #Objects #Header #Primary Navigation #Uber Navigation #Feeds #Footer #Images #Supporters Widget #Marquee
 ### NODES ### #National Organizations #Spotlight
**/
/**
*   #Imports
**/
/**
*	#Table of Contents
**/
/**
	#Colours
**/
/**
* #Font-Face
**/
@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Book.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Bold.otf"); font-style: normal; font-weight: bold; }

@font-face { font-family: "News Gothic"; src: url("../fonts/NewsGothic-Medium.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "News Gothic"; src: url("../fonts/NewsGothic-DemiBold.otf"); font-style: normal; font-weight: bold; }

@font-face { font-family: 'icomoon'; src: url("fonts/icomoon.eot"); }

@font-face { font-family: 'icomoon'; src: url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAgAAAsAAAAACtQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAABNYAAAYHF2m0JkZGVE0AAAXgAAAAGgAAABxmM8XCR0RFRgAABfwAAAAdAAAAIAAzAARPUy8yAAAGHAAAAEsAAABgL9zcQGNtYXAAAAZoAAAAPQAAAVLgFfLNaGVhZAAABqgAAAAuAAAANv3Jl01oaGVhAAAG2AAAAB4AAAAkBBD/5GhtdHgAAAb4AAAAEgAAABIEGQCAbWF4cAAABwwAAAAGAAAABgAGUABuYW1lAAAHFAAAAN0AAAGGT9Lz8HBvc3QAAAf0AAAADAAAACAAAwAAeJw9VG1QlFUYfd5ld3lZ10WRNdQFZFwYFSE+FAyV/CTzaxidESPDBh1USBHDJEnSnCHhbfpcmWLSjBDNGscxdcywGEcZREVy/CAyEyUZQVaDsm1gPJ2r5p/nnrnvved5nnPP82piNoumafrq5flr8vPXimYSTVJ9I02+CD9fiNmw+xl2c5hNhi0KgmE8BXb/8jyfx1docUlloEtkkEv2DHaJ7rIgSPwVhy6BMlRCxS3RkrBh7eq0uLg4LrOeLvGPl4THS+KTAv6vQ0R7V9uulWnlmiFWRWgSu1Ro3/l5LXMchq/Q3O/xefwd0MLvLc1zgiVU/+OBzOpeSOz/GiQg0wVZ8lwlcHDvAYObEeWQcWOKLJBn/CogWkUaxL7IB4kwh4TxU+g6np/yF/D96iIr8E1yE3C3uAa4NL4WOGaNCifJ8N3AOat7LgCfxwD21uecNYw+j4WVzGquNhvMlOE8CVnZ74VMnz4fMlDbDkmbEUR0tpT3/qgCSheOgwy6HQnUru8hemkJ8OPXyRDbv61A685DEMfM6+RyzG1gHDHfAXHnj4CEtlkhyde+JfK2EHXWATfqOyHxy4OB01tnA9faGtniyoOQ97KSINd6E9hinQC3Vj0Asm4F6YTqdNblk8CrkTeBjaWdwAXvp+S6VEx0+45C7PqSOwQSvSccuD+skjR+V4HuhtchkWrvzBqWdW7IUeDPw7Wqn30KvUXUMRa4TEFxPSHWMHSHzwOtpLHEye9dJqDz3i7AGx9Fsi0srKuohR/iqqhvIsn6SoqU0llERenUuG99LOOGuGqgIqMZWHY/Akg908fNUweCGRsaHkAGr8gEft62g8o00Q968gVqbb1DtDSPaMtpok27KWZ8so0xZq6JdTbWQUb1JkJc485Tlov6EWZuWQj8MiEVErZsM9Dz5TnImONtEGvuFOBhfSSRhyohw0Z06jeSBXiKVXzhPm314kQmah4JMeXkUMoevkNADfX8tfFtyNjCFB5MaFeXpCBXxXXVDKYPFeIlx5hkOiuCLzgoYS1bT8thZxMHM1thinq35mxI0JU0Cld4AjIyqpMU7oL9jEOmToVYYhfz+4CZzGlja4HbaPTEJlqqbj3dPT9nL3AllnsZ886TfFcS+5mwFeJ/MJsZgmJYuTmTXPqkGsYUVdWzeiGDGqgUUzM3w5LSnhgSvanHmHY0TdW146ROz3UvgJiP0PxDN90kyQm6OHjeHE5ZQD+bGh0HdBRR23vqEbtyU+mD9OwSiPN5WsZU1s/TqW+whz1VqkcOjZ65W6fDtvbEQPuoq5TuwdKxTN5Ka9w1ZvBmDh13Y1qZoaulnKyTu8n6GaepPZJj1n7mOElDPMCdv6lO+PAv6GF7k9r7hFXamHxE0nY6uXLGVTzM7fDSONnvLOAQa5O7PwZ2bj5k8H+xc+M8Huk44KTXRruHqTPvq0E/2nDYot59KGuVrziOAYG/s5PPc+mLTaGU1Z3JTqL28TFjLhI1TnmUj9XKqCpq65hN7drDJwFXo02sIv3lmkf5IT+kV/tDXlnMh76QzavReZyan8bXhgGNrTQxbkxyA20fXOcrDKhXfXspwcOBF9W4FKzi38w5FdhfcFeVry3gsN8qXqHQYo5k73ieanlziRrLYMNp2G3/AS3+EUAAAHicY2BgYGQAgpOd+YYg+lyotgeMBgA7fQUgAAB4nGNgZGBg4ANiCQYQYGJgBEJWIGYB8xgABIEAOAAAAHicY2BmYmCcwMDKwMHow5jGwMDgDqW/MkgytDAwMDGwMjPAgQCCyRCQ5prC4PCA4QMD44P/Dxj0GB8wKDQwMDDCFSgAISMAEEIMHwB4nGNgYGBmgGAZBkYGEPAB8hjBfBYGAyDNAYRMIIkHzB8Y/v8HsxggLAUmAUaoLjBgZGNA5o5IAADMzQixAAAAeJxjYGRgYADiSRoX8+P5bb4ycDMxgMC5UG0PBP3/ARMD4wMgl4MBLA0AEZsJoQAAeJxjYGRgYHzw/wGDHhMDA8M/BiAJFEEBzABt5wP2AAACAAAAAAAAAAIAAIAAAAAAABkAAAAAUAAABgAAeJx1jjFqAzEQRd/aa4fgEFKFlII0aXaRNpV9gD1ACvfGiGXBtkC2wSdJlSOkzDFygBwhx8j3epoUFgx6+vNnvoA73ik4n4IbHoxH4hfjMc+cjEvpn8YTZnwbT6X/ylmUt1Luh6kzj8RPxmNavHEp/cN4wiNfxlPpP/SsSWxViR3067RNSfBGpOPIhhVZz9gdNytBO/gOw53liDgaaqU5Fqr/+y5aULdirmpEgVetSbtDm3IXXVN7t3CWKwq+mleNDzJd+9tSqZm9+peMMOSzjHnfa0eo/dXZPwGWOdUAAAB4nGNgZsALAAB9AAQ=) format("woff"), url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWYzxcIAAAckAAAAHEdERUYANQAGAAAHBAAAACBPUy8yL7rcHwAAAVgAAABWY21hcOAX89QAAAHMAAABUmdhc3D//wADAAAG/AAAAAhnbHlmnNKsswAAAzQAAAHkaGVhZP3Il00AAADcAAAANmhoZWEED//mAAABFAAAACRobXR4BMMAgAAAAbAAAAAabG9jYQFyAOYAAAMgAAAAEm1heHAATQA0AAABOAAAACBuYW1lT9Lz8AAABRgAAAGGcG9zdBwbgkMAAAagAAAAWgABAAAAAQAAofzHlF8PPPUACwIAAAAAAM5VK0gAAAAAzlUrSP///+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AALgIA///+AAIAAAEAAAAAAAAAAAAAAAAAAAAFAAEAAAAIADEAAwAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQMAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUGZFZABA4ADwAAHg/+AALgHgACCAAAABAAAAAAAAAgAAAAAAAAAAqgAAAAAAAAIAAIAAAAAAABkAAAAAAAMAAAADAAAAHAABAAAAAABMAAMAAQAAABwABAAwAAAACAAIAAIAAAAA4APwAP//AAAAAOAA8AD//wAAIAQQAwABAAAAAAAAAAAAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOACwAcgC6APIAAAABAAD/4AIAAeAAAgAAEQEhAgD+AAHg/gAAAAAAAQCA/+ABcAHgABMAAAUjESM1MzU0NjsBFSMiBh0BMwcjASBgQEAsPEcsFwxPCUYgAQBYNDs5WBAULFgAAQAAAAEB/gG7AC0AABEXPgMyFx4BFx4CNz4DNzYnJgcGBzYeAQcGIyImJy4EBw4EFQIFEQ4PBAhHCAkfLBgWQE4+Cg43MDk7ChwoBQ4xFgoSDgMKCRAdFBItJyATAUYbAQQKBgUJ6BETHQ4QDzlWczhPFhQiI0ERDiwdXC83DzwqLBMEBBshIBUAAAAB//8ADwIAAbEAMAAAAQYHNjcGByYjIgYVFBcuAScGFRQXIicUFRQWFwYjIiceATMGIyInFjMyPgI1NDU2AgAdHyIMHyQfLis+A0BxJw8vGRYvJQ4OCgoLNSM6SQ0MSldGdEkoHwF/DQQVJRIHIT0sDAwDOjEZHDgfDQEBJToIAwIgKS0BLzZXaTUHBhcAAAADABn//AHnAcQACgAOACUAABMUBiMiJjU0NjIWAxEzETc0JzMXMz4BMzIWHQEjNTQjIgcGHQEjgh0YFxwdLhxlYzsDVgQCDTEkMz5iMiQPA2IBkhUcHBUVHBz+VgE9/sPYLDksFB9GQ7uvRSUIELcAAAAMAJYAAQAAAAAAAQAHABAAAQAAAAAAAgAHACgAAQAAAAAAAwAjAHgAAQAAAAAABAAHAKwAAQAAAAAABQALAMwAAQAAAAAABgAHAOgAAwABBAkAAQAOAAAAAwABBAkAAgAOABgAAwABBAkAAwBGADAAAwABBAkABAAOAJwAAwABBAkABQAWALQAAwABBAkABgAOANgAaQBjAG8AbQBvAG8AbgAAaWNvbW9vbgAAUgBlAGcAdQBsAGEAcgAAUmVndWxhcgAARgBvAG4AdABGAG8AcgBnAGUAIAAyAC4AMAAgADoAIABpAGMAbwBtAG8AbwBuACAAOgAgADEAMAAtADkALQAyADAAMQAzAABGb250Rm9yZ2UgMi4wIDogaWNvbW9vbiA6IDEwLTktMjAxMwAAaQBjAG8AbQBvAG8AbgAAaWNvbW9vbgAAVgBlAHIAcwBpAG8AbgAgADEALgAwAABWZXJzaW9uIDEuMAAAaQBjAG8AbQBvAG8AbgAAaWNvbW9vbgAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAABAAIBAgEDAQQBBQEGB3VuaUYwMDAHdW5pRTAwMAd1bmlFMDAxB3VuaUUwMDIHdW5pRTAwMwAAAAAAAf//AAIAAQAAAA4AAAAYAAAAAAACAAEAAwAHAAEABAAAAAIAAAAAAAEAAAAAyYlvMQAAAADOVStIAAAAAM5VK0g=) format("truetype"); font-weight: normal; font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-facebook, .ico-vimeo, .ico-twitter, .ico-linkedin { font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }

.ico-facebook:before { content: "\e000"; }

.ico-vimeo:before { content: "\e001"; }

.ico-twitter:before { content: "\e002"; }

.ico-linkedin:before { content: "\e003"; }

/**/
/**
* #Styleguide - Typography
**/
h1, .h1 { font-size: 42px; font-size: 2.47059rem; }

h2, .node .content .no__spotlights, .h2 { font-size: 25px; font-size: 1.47059rem; font-family: "Fedra Serif", serif; line-height: 1em; }

h3, .h3 { font-size: 18px; font-size: 1.05882rem; }

h4, .h4 { font-size: 16px; font-size: 0.94118rem; }

a { color: #cf4753; }
a:hover { color: #cf4753; text-decoration: none; }

body { color: #91998c; font-size: 17px; font-size: 1rem; font-family: "News Gothic", sans-serif; }

.small-body { font-size: 16px; font-size: 0.94118rem; }

.blurb { font-size: 36px; font-size: 2.11765rem; }

/**/
/**
* #Global Elements
**/
.search-form .input-append .btn { border: 1px solid #ccc; }

.content p:last-child { margin-bottom: 0; }

label, input, button, select, textarea { font-size: 17px; font-size: 1rem; }

html.js input.form-autocomplete { background-position: 100% 9px; }
html.js input.throbbing { background-position: 100% -12px; }

.btn { background-color: #dfd9c9; background-image: none; border-radius: 0; border: none; box-shadow: none; font-family: inherit; }

.btn-primary { background-color: #e69740; }
.btn-primary:hover { background-color: #cf4753; }

.nav-tabs { padding-top: 20px; }

div.messages { margin: 20px 0; }

.page-node .content .title { font-weight: normal; letter-spacing: 2px; padding-top: 0; text-transform: uppercase; }

#main { padding: 20px 0; }

.page-title { text-align: center; }

@media screen and (max-width: 767px) { h2, .node .content .no__spotlights, .h2 { font-size: 20px; font-size: 1.17647rem; } }
/**/
/**
* #Objects
**/
.slug { font-size: 11px; font-size: 0.64706rem; color: #e69740; letter-spacing: 1px; margin-bottom: 10px; text-transform: uppercase; }

/**/
/**
* #Header
**/
.header { margin-top: 10px; }

.site-name { text-align: center; }
.site-name img { margin: 20px 0; }

.donate { background-color: #e69740; font-family: "Fedra Serif"; font-weight: bold; letter-spacing: 2px; margin-right: 4px; padding: 0 5px; font-size: 11px; font-size: 0.64706rem; }
.donate a { color: white; }
.donate:hover { background-color: #cf4753; color: white; cursor: pointer; }

.social-media { background-color: #91998c; color: white; line-height: 1.3em; padding: 2px 3px; font-size: 17px; font-size: 1rem; }
.social-media:hover { background-color: #cf4753; color: white; cursor: pointer; text-decoration: none; }
.social-media[class*=" icon-"] { vertical-align: middle; }

/**/
/**
* #Primary Navigation
**/
.navbar-medium .region-main-navigation li a { color: #dfd9c9; padding: 16px 25px 13px 25px; margin-left: -1px; }
.navbar-medium .region-main-navigation li a:hover { background-color: #e69740; color: white; }
.navbar-medium .navbar-inner { background-color: #3b3835; background-image: none; border: none; padding: 0; text-align: center; }
.navbar-medium .navbar-inner ul { margin: 0; }
.navbar-medium .navbar-inner .container { min-height: 40px; }

.navbar { font-weight: bold; }
.navbar .region-main-navigation { font-family: "Fedra Serif"; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; font-size: 12px; font-size: 0.70588rem; }
.navbar .region-main-navigation ul { margin: 0 auto 12px; }
.navbar .region-main-navigation .content > .menu > li { border-right: 1px solid #e69740; height: 12px; line-height: 1.2em; margin: 3px 0 0 0; }
.navbar .region-main-navigation .content > .menu > li:hover { border-color: #4d4d4d; }
.navbar .region-main-navigation .content > .menu > li.last { border: none; }
.navbar .region-main-navigation .content > .menu .menu { display: none; background-color: #4d4d4d; left: 0; margin: 12px 0 0 -1px; padding: 0; position: absolute; text-transform: none; width: 100%; z-index: 9999; }
.navbar .region-main-navigation .content > .menu .menu li { border-bottom: 1px solid #92998d; font-family: "News Gothic", sans-serif; font-weight: normal; letter-spacing: 0; margin: 0; padding: 0; width: 100%; }
.navbar .region-main-navigation .content > .menu .menu li.last { border: none; margin-bottom: 0; }
.navbar .region-main-navigation .content > .menu .menu a { display: block; margin: 0; padding: 8px 8px 5px 25px; font-size: 16px; font-size: 0.94118rem; }
.navbar .region-main-navigation li { float: left; list-style-type: none; list-style-image: none; margin: 0; padding: 0; position: relative; }
.navbar .region-main-navigation li:hover { border-color: #3b3835; }
.navbar .region-main-navigation li.expanded:hover .menu { display: block; }

/**/
/**
* #Uber Navigation
**/
.uber-nav { font-weight: bold; }
.uber-nav .content > .menu { position: relative; }
.uber-nav .content > .menu > li { border-right: 1px solid #e69740; float: left; height: 8px; line-height: .4em; margin: 0; padding: 0; position: relative; }
.uber-nav .content > .menu > li:hover, .uber-nav .content > .menu > li.active { border-color: white; }
.uber-nav .content > .menu > li:last-child { border-right: none; }
.uber-nav .content > .menu > li > a { letter-spacing: 2px; margin-left: -1px; padding-left: 12px; }
.uber-nav .content > .menu > li > a:hover { background-color: #e69740; color: white; }
.uber-nav .content > .menu > li > a.active { color: #cf4753; }
.uber-nav .content > .menu > li > a.active:hover { color: white; }
.uber-nav .content > .menu li:hover .menu { display: block; }
.uber-nav a { color: #92998d; padding: 5px 10px; text-transform: uppercase; font-size: 11px; font-size: 0.64706rem; }
.uber-nav a:hover { color: #cf4753; }
.uber-nav ul { margin-left: 0; }
.uber-nav .menu .menu { display: none; background-color: white; border: 1px solid #e69740; left: -1px; top: 14px; position: absolute; width: 100px; z-index: 9999; text-align: left; }
.uber-nav .menu .menu a { border: none; font-weight: normal; font-size: 14px; font-size: 0.82353rem; display: block; margin: 0 3px; padding: 0; text-transform: none; }
.uber-nav .menu .menu a:hover { background-color: transparent; color: #cf4753; }
.uber-nav .menu .menu a.active { background-color: transparent; }
.uber-nav .menu .menu li { display: block; padding-top: 0; }
.uber-nav .menu .menu li:first-child { margin-top: 2px; }
.uber-nav ul li { list-style-type: none; list-style-image: none; }
.uber-nav ul li.expanded, .uber-nav ul li.leaf { list-style-type: none; list-style-image: none; }

@media screen and (min-width: 1200px) { .navbar .region-main-navigation ul { width: 78.7%; } }
/**/
/**
* #worldmap
**/
#worldmap { background-color: #80b4e4; padding: 0px; }

/**
* #Feeds
**/
#feeds { background-color: #e69740; padding: 40px 0; }
#feeds h2, #feeds .node .content .no__spotlights, .node .content #feeds .no__spotlights { color: white; font-weight: normal; letter-spacing: 2px; text-align: center; text-transform: uppercase; }

/**
* #Footer
**/
#footer { background-color: #4d4d4d; border: none; padding: 40px 0; }
#footer .block-block { font-size: 12px; font-size: 0.70588rem; width: 30%; }

.footer-links a { margin-left: 0; }

.footer-menu .menu .menu .last { margin-bottom: 10px; }
.footer-menu .menu .menu a { color: #999999; font-size: 14px; font-size: 0.82353rem; }
.footer-menu .menu .menu a:hover { color: #cf4753; }
.footer-menu ul { margin: 0; }
.footer-menu ul li { list-style-type: none; list-style-image: none; margin: 0; }
.footer-menu .content > ul > li { float: left; padding: 0; width: 33%; }
.footer-menu .content > ul > li > a { color: #dfd9c9; font-family: "Fedra", serif; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; font-size: 11px; font-size: 0.64706rem; }

/**/
/**
* #Images
**/
img { max-width: 100%; }

#googlemap img { max-width: none; }

/**/
/**
* #Supporters Widget
**/
.flexslider_supporter a { margin: 0; }

.widget_supporters { background-color: white; padding: 20px; text-align: center; }
.widget_supporters .title { color: #ffb151; font-family: "Fedra", serif; letter-spacing: 4px; display: block; margin-bottom: 10px; }
.widget_supporters ul { padding: 0px; margin: 0px; }
.widget_supporters ul li a { margin: 0px; }
.widget_supporters p { color: #999999; font-size: 16px; font-size: 0.94118rem; line-height: 1.5em; }

.fb-like-box { background-color: white; }

/**/
/**
* #Marquee
**/
.marquee { background-color: #91998c; }
.marquee img { display: block; height: auto; width: 100%; }

.marquee__info-wrapper { position: absolute; bottom: 30px; left: 30px; width: 70%; }

.marquee__title { color: white; font-weight: normal; }

.marquee__large { background-color: black; float: left; position: relative; width: 50%; }

.marquee__medium { background-color: #cf4753; float: right; width: 25%; }

.marquee__small { background-color: #e69740; float: left; width: 25%; }

.marquee__hover { background-color: #3b3835; box-sizing: border-box; -moz-box-sizing: border-box; opacity: 0; height: 100%; position: absolute; top: 0; left: 0; width: 100%; -webkit-transition: 500ms; -o-transition: 500ms; transition: 500ms; }

.marquee__1[data-effeckt-type="cover-fade"]:hover .marquee__hover, .marquee__1[data-effeckt-type="cover-fade"]:active .marquee__hover { opacity: .8; }

@media screen and (max-width: 979px) and (min-width: 768px) { .marquee__info-wrapper { bottom: 20px; left: 20px; width: 80%; } }
@media screen and (max-width: 767px) { .marquee__large { width: 100%; }
  .marquee__hover { background-color: transparent; opacity: 1; position: static; }
  .marquee__info-wrapper { background-color: #3b3835; box-sizing: border-box; -moz-box-sizing: border-box; bottom: 0; left: 0; padding: 10px; position: static; width: 100%; }
  .marquee__preview { display: none; } }
/**/
/* ### NODES ### */
/**
* #National Organizations
**/
.node-type-national-organization .title { color: #e69740; }

.no__ceo a { display: block; }

.no__image img { width: 100%; }

.no__blurb { font-size: 36px; font-size: 2.11765rem; line-height: 1.1em; color: #91998c; margin: 20px 0; }

.no__info-block { color: #cf4753; margin-bottom: 40px; }
.no__info-block .field-item { font-size: 18px; font-size: 1.05882rem; }

.no__stats { color: #91998c; font-size: 18px; font-size: 1.05882rem; }
.no__stats strong { color: black; }

.no__stat { margin-bottom: 10px; }
.no__stat:last-child { margin-bottom: 0; }

.node .content .no__spotlights { line-height: 1em; text-transform: none; }
.node .content .no__spotlights img { height: auto; width: 100%; }

/**/
/**
* #Spotlight
**/
.node-type-spotlight .title { color: #e69740; }
.node-type-spotlight .content img { background-color: #dfd9c9; float: right; margin: 0 0 10px 5px; padding: 10px; }

@media screen and (max-width: 500px) { .node-type-spotlight .content img { float: none; margin: 0 auto; margin-bottom: 20px; padding: 2%; width: 96%; height: auto; } }
