/**
*   #Table of Contents
**/
/** #Imports #Font-Face #Styleguide - Typography #Global Elements #Objects #Header #Primary Navigation #Uber Navigation #Feeds #Footer #Images #Supporters Widget
 ### NODES ### #National Organizations #Spotlight
**/
/**
*   #Imports
**/
/**
*	#Table of Contents
**/
/**
	#Colours
**/
/**
* #Font-Face
**/
@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Book.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "Fedra Serif"; src: url("../fonts/FSerStdA-Bold.otf"); font-style: normal; font-weight: bold; }

@font-face { font-family: "News Gothic"; src: url("../fonts/NewsGothic-Medium.otf"); font-style: normal; font-weight: normal; }

@font-face { font-family: "News Gothic"; src: url("../fonts/NewsGothic-DemiBold.otf"); font-style: normal; font-weight: bold; }

@font-face { font-family: "icomoon"; src: url("../fonts/icomoon.svg#icomoon") format("svg"); src: url("../fonts/icomoon.eot"); src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-vimeo2, .icon-facebook, .icon-linkedin, .icon-twitter { font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }

.icon-vimeo2:before { content: "\e000"; }

.icon-facebook:before { content: "\e001"; }

.icon-linkedin:before { content: "\e002"; }

.icon-twitter:before { content: "\e003"; }

/**/
/**
* #Styleguide - Typography
**/
h1, .h1 { font-size: 42px; font-size: 2.47059rem; }

h2, .node .content .no__spotlights, .h2 { font-size: 25px; font-size: 1.47059rem; font-family: "Fedra Serif", serif; }

h3, .h3 { font-size: 18px; font-size: 1.05882rem; }

h4, .h4 { font-size: 16px; font-size: 0.94118rem; }

a { color: #cf4753; }
a:hover { color: #cf4753; text-decoration: none; }

body { color: #91998c; font-size: 17px; font-size: 1rem; font-family: "News Gothic", sans-serif; }

.small-body { font-size: 16px; font-size: 0.94118rem; }

.blurb { font-size: 36px; font-size: 2.11765rem; }

/**/
/**
* #Global Elements
**/
.content p:last-child { margin-bottom: 0; }

label, input, button, select, textarea { font-size: 17px; font-size: 1rem; }

html.js input.form-autocomplete { background-position: 100% 9px; }
html.js input.throbbing { background-position: 100% -12px; }

.btn { background-color: #dfd9c9; background-image: none; border-radius: 0; border: none; box-shadow: none; font-family: inherit; }

.btn-primary { background-color: #e69740; }
.btn-primary:hover { background-color: #cf4753; }

.nav-tabs { padding-top: 20px; }

div.messages { margin: 20px 0; }

.page-node .content .title { font-weight: normal; letter-spacing: 2px; padding-top: 0; text-transform: uppercase; }

#main { padding: 20px 0; }

.page-title { text-align: center; }

/**/
/**
* #Objects
**/
.slug { font-size: 11px; font-size: 0.64706rem; color: #e69740; letter-spacing: 1px; margin-bottom: 10px; text-transform: uppercase; }

/**/
/**
* #Header
**/
.header { margin-top: 10px; }

.site-name { text-align: center; }
.site-name img { margin-bottom: 20px; }

.donate { background-color: #e69740; font-family: "Fedra Serif"; font-weight: bold; letter-spacing: 2px; margin: 5px 4px 0 0; padding: 0 5px; font-size: 11px; font-size: 0.64706rem; }
.donate a { color: white; }
.donate:hover { background-color: #cf4753; color: white; cursor: pointer; }

.social-media { color: #91998c; margin-right: 5px; font-size: 21px; font-size: 1.23529rem; }
.social-media:hover { color: #cf4753; cursor: pointer; text-decoration: none; }
.social-media[class*=" icon-"] { vertical-align: middle; }

/**/
/**
* #Primary Navigation
**/
.navbar-medium .region-main-navigation li a { color: #dfd9c9; padding: 16px 25px 13px 25px; margin-left: -1px; }
.navbar-medium .region-main-navigation li a:hover { background-color: #e69740; color: white; }
.navbar-medium .navbar-inner { background-color: #3b3835; background-image: none; border: none; padding: 0; text-align: center; }
.navbar-medium .navbar-inner ul { margin: 0; }
.navbar-medium .navbar-inner .container { min-height: 40px; }

.navbar { font-weight: bold; }
.navbar .region-main-navigation { font-family: "Fedra Serif"; font-weight: bold; letter-spacing: 2px; text-transform: uppercase; font-size: 12px; font-size: 0.70588rem; }
.navbar .region-main-navigation ul { margin: 0 auto 12px; }
.navbar .region-main-navigation .content > .menu > li { border-right: 1px solid #e69740; height: 12px; line-height: 1.2em; margin: 3px 0 0 0; }
.navbar .region-main-navigation .content > .menu > li:hover { border-color: #4d4d4d; }
.navbar .region-main-navigation .content > .menu > li.last { border: none; }
.navbar .region-main-navigation .content > .menu .menu { display: none; background-color: #4d4d4d; left: 0; margin: 12px 0 0 -1px; padding: 0; position: absolute; text-transform: none; width: 100%; z-index: 9999; }
.navbar .region-main-navigation .content > .menu .menu li { border-bottom: 1px solid #92998d; font-family: "News Gothic", sans-serif; font-weight: normal; letter-spacing: 0; margin: 0; padding: 0; width: 100%; }
.navbar .region-main-navigation .content > .menu .menu li.last { border: none; margin-bottom: 0; }
.navbar .region-main-navigation .content > .menu .menu a { display: block; margin: 0; padding: 8px 8px 5px 25px; font-size: 16px; font-size: 0.94118rem; }
.navbar .region-main-navigation li { float: left; list-style-type: none; list-style-image: none; margin: 0; padding: 0; position: relative; }
.navbar .region-main-navigation li:hover { border-color: #3b3835; }
.navbar .region-main-navigation li.expanded:hover .menu { display: block; }

/**/
/**
* #Uber Navigation
**/
.uber-nav { font-weight: bold; }
.uber-nav .content > .menu { position: relative; }
.uber-nav .content > .menu .menu a { letter-spacing: 1px; }
.uber-nav .content > .menu li:hover .menu { display: block; }
.uber-nav .content > .menu li { position: relative; }
.uber-nav .content > .menu li a { letter-spacing: 2px; }
.uber-nav .content > .menu li a.active { color: #cf4753; }
.uber-nav .content > .menu li a.active:hover { color: white; }
.uber-nav .content > .menu li.last a { border-right: none; }
.uber-nav a { border-right: 1px solid #e69740; color: #92998d; margin-left: -5px; padding: 5px 10px 4px; text-transform: uppercase; font-size: 11px; font-size: 0.64706rem; }
.uber-nav a:hover { color: #cf4753; }
.uber-nav ul { margin-left: 0; }
.uber-nav .menu .menu { display: none; background-color: white; border: 1px solid #e69740; left: -5px; position: absolute; width: 100px; z-index: 9999; padding-left: 6px; text-align: left; }
.uber-nav .menu .menu a { border: none; font-weight: normal; font-size: 14px; font-size: 0.82353rem; display: block; margin: 0 3px 3px 3px; padding: 0; text-transform: none; }
.uber-nav .menu .menu a:hover { background-color: transparent; color: #cf4753; }
.uber-nav .menu .menu a:first-child { margin-top: 5px; }
.uber-nav .menu .menu a.active { background-color: transparent; }
.uber-nav .menu .menu li { display: block; }
.uber-nav .menu > li { display: inline; margin: 0; padding: 0; }
.uber-nav .menu > li a:hover { background-color: #e69740; color: white; }
.uber-nav ul li { line-height: 1em; }
.uber-nav ul li.expanded, .uber-nav ul li.leaf { list-style-type: none; list-style-image: none; }

@media screen and (min-width: 1200px) { .navbar .region-main-navigation ul { width: 77.6%; } }
/**/
/**
* #worldmap
**/
#worldmap { background-color: #80b4e4; padding: 0px; }

/**
* #Feeds
**/
#feeds { background-color: #e69740; padding: 40px 0; }
#feeds h2, #feeds .node .content .no__spotlights, .node .content #feeds .no__spotlights { color: white; font-weight: normal; letter-spacing: 2px; text-align: center; text-transform: uppercase; }

/**
* #Footer
**/
#footer { background-color: #4d4d4d; border: none; padding: 40px 0; }
#footer .block-block { font-size: 12px; font-size: 0.70588rem; width: 30%; }

.footer-links a { margin-left: 0; }

.footer-menu .menu .menu .last { margin-bottom: 10px; }
.footer-menu .menu .menu a { color: #999999; font-size: 14px; font-size: 0.82353rem; }
.footer-menu .menu .menu a:hover { color: #cf4753; }
.footer-menu ul { margin: 0; }
.footer-menu ul li { list-style-type: none; list-style-image: none; margin: 0; }
.footer-menu .content > ul > li { float: left; padding: 0; width: 33%; }
.footer-menu .content > ul > li > a { color: #dfd9c9; font-family: "Fedra", serif; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; font-size: 11px; font-size: 0.64706rem; }

/**/
/**
* #Images
**/
img { max-width: 100%; }

#googlemap img { max-width: none; }

/**/
/**
* #Supporters Widget
**/
.flexslider_supporter a { margin: 0; }

.widget_supporters { background-color: white; padding: 20px; text-align: center; }
.widget_supporters .title { color: #ffb151; font-family: "Fedra", serif; letter-spacing: 4px; display: block; margin-bottom: 10px; }
.widget_supporters ul { padding: 0px; margin: 0px; }
.widget_supporters ul li a { margin: 0px; }
.widget_supporters p { color: #999999; font-size: 16px; font-size: 0.94118rem; line-height: 1.5em; }

.fb-like-box { background-color: white; }

/**/
/* ### NODES ### */
/**
* #National Organizations
**/
.node-type-national-organization .title { color: #e69740; }

.no__ceo a { display: block; }

.no__image img { width: 100%; }

.no__blurb { font-size: 36px; font-size: 2.11765rem; line-height: 1.1em; color: #91998c; margin: 20px 0; }

.no__info-block { color: #cf4753; margin-bottom: 40px; }
.no__info-block .field-item { font-size: 18px; font-size: 1.05882rem; }

.no__stats { color: #91998c; font-size: 18px; font-size: 1.05882rem; }
.no__stats strong { color: black; }

.no__stat { margin-bottom: 10px; }
.no__stat:last-child { margin-bottom: 0; }

.node .content .no__spotlights { line-height: 1em; text-transform: none; }
.node .content .no__spotlights img { height: auto; width: 100%; }

/**/
/**
* #Spotlight
**/
.node-type-spotlight .title { color: #e69740; }
.node-type-spotlight .content img { background-color: #dfd9c9; float: right; margin: 0 0 10px 5px; padding: 10px; }

@media screen and (max-width: 500px) { .node-type-spotlight .content img { float: none; margin: 0 auto; margin-bottom: 20px; padding: 2%; width: 96%; height: auto; } }
