

#navigation-region .level-1 a {
  background-repeat: repeat;
}

#preheader-second-region #site-name a {
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
  font-weight: normal;
  font-size: 32px;
}

#main .content h2 {
  background-repeat: repeat;
}

#preheader-second-region #site-slogan {
  font-size: 16px;
}

#header-region #site-slogan {
  font-size: 24px;
}

