
// ESTABLISH THE BASE FONT WITH COMPASS @FONT-FACE MIXIN
// http://compass-style.org/reference/compass/css3/font_face/
// =============================================================================
@import "compass/css3/font-face";

// 'NEWS GOTHIC VARIANTS'
@include font-face("News Gothic", font-files("NewsGothic-Medium-webfont.woff", "NewsGothic-Medium-webfont.ttf", "NewsGothic-Medium-webfont.svg"), "NewsGothic-Medium-webfont.eot", normal, normal);
@include font-face("News Gothic Light", font-files("NewsGothic-Light-webfont.woff", "NewsGothic-Light-webfont.ttf", "NewsGothic-Light-webfont.svg"), "NewsGothic-Light-webfont.eot", normal, normal);
@include font-face("News Gothic Light Oblique", font-files("NewsGothic-LightOblique-webfont.woff", "NewsGothic-LightOblique-webfont.ttf", "NewsGothic-LightOblique-webfont.svg"), "NewsGothic-LightOblique-webfont.eot", normal, normal);
@include font-face("News Gothic Medium", font-files("NewsGothic-Medium-webfont.woff", "NewsGothic-Medium-webfont.ttf", "NewsGothic-Medium-webfont.svg"), "NewsGothic-Medium-webfont.eot", normal, normal);
@include font-face("News Gothic Medium Oblique", font-files("NewsGothic-MediumObl-webfont.woff", "NewsGothic-MediumObl-webfont.ttf", "NewsGothic-MediumObl-webfont.svg"), "NewsGothic-MediumObl-webfont.eot", normal, normal);
@include font-face("News Gothic Demi Bold", font-files("NewsGothic-DemiBold-webfont.woff", "NewsGothic-DemiBold-webfont.ttf", "NewsGothic-DemiBold-webfont.svg"), "NewsGothic-DemiBold-webfont.eot", normal, normal);
@include font-face("News Gothic Demi Bold Oblique", font-files("NewsGothic-DemiBoldObl-webfont.woff", "NewsGothic-DemiBoldObl-webfont.ttf", "NewsGothic-DemiBoldObl-webfont.svg"), "NewsGothic-DemiBoldObl-webfont.eot", normal, normal);
@include font-face("News Gothic Bold", font-files("NewsGothic-Bold-webfont.woff", "NewsGothic-Bold-webfont.ttf", "NewsGothic-Bold-webfont.svg"), "NewsGothic-Bold-webfont.eot", normal, normal);
@include font-face("News Gothic Bold Oblique", font-files("NewsGothic-BoldOblique-webfont.woff", "NewsGothic-BoldOblique-webfont.ttf", "NewsGothic-BoldOblique-webfont.svg"), "NewsGothic-BoldOblique-webfont.svg", normal, normal);

// 'FEDRA SERIF' VARIANTS
@include font-face("Fedra Serif", font-files("FSerStdA-Book.woff", "FSerStdA-Book.ttf", "FSerStdA-Book.svg"), "FSerStdA-Book.eot", normal, normal);
@include font-face("Fedra Serif Bold", font-files("FSerStdA-Bold.woff", "FSerStdA-Bold.ttf", "FSerStdA-Bold.svg"), "FSerStdA-Bold.eot", normal, normal);

// 'NEWS GOTHIC' FONT MIXIN LIBRARY (LOCAL FONTS)
// =============================================================================
@mixin NewsGothicRegular {
  font-family: "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NewsGothicLight {
  font-family: "News Gothic Light", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGLightOblique {
  font-family: "News Gothic Light Oblique", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGMedium {
  font-family: "News Gothic Medium", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGMediumOblique {
  font-family: "News Gothic Medium Oblique", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGDemiBold {
  font-family: "News Gothic Demi Bold", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGDemiBoldOblique {
  font-family: "News Gothic Demi Bold Oblique", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGBold {
  font-family: "News Gothic Bold", "News Gothic", "Arial Narrow", Arial, sans-serif;
}
@mixin NGBoldOblique {
  font-family: "News Gothic Bold Oblique", "News Gothic", "Arial Narrow", Arial, sans-serif;
}

// 'FEDRA' FONT MIXINS (TYPOTHEQUE)
// =============================================================================
@mixin FedraRegular {
  font-family: "Fedra Serif", Georgia, "Times New Roman", serif;
  font-weight: normal;
}
@mixin FedraBold {
  font-family: "Fedra Serif Bold", "Fedra Serif", Georgia, "Times New Roman", serif;
}
@mixin FedraItalic {
  font-family: "Fedra Serif", Georgia, "Times New Roman", serif;
  font-style: italic;
}
@mixin FedraBoldItalic {
  font-family: "Fedra Serif Bold", "Fedra Serif", Georgia, "Times New Roman", serif;
  font-style: italic;
}
