/**
* #Font-Face
**/


// News Gothic Normal
@font-face {
  font-family: "News Gothic";
  src: url('../fonts/NewsGothic-Medium-webfont.eot');
  src: url('../fonts/NewsGothic-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NewsGothic-Medium-webfont.woff') format('woff'),
       url('../fonts/NewsGothic-Medium-webfont.ttf') format('truetype'),
       url('../fonts/NewsGothic-Medium-webfont.svg#NewsGothicFSMediumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// News Gothic Bold
@font-face {
  font-family: "News Gothic";
  src: url('../fonts/NewsGothic-DemiBold-webfont.eot');
  src: url('../fonts/NewsGothic-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NewsGothic-DemiBold-webfont.svg#NewsGothicFSBookBold') format('svg'),
       url('../fonts/NewsGothic-DemiBold-webfont.woff') format('woff'),
       url('../fonts/NewsGothic-DemiBold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// News Gothic Italic
@font-face {
  font-family: "News Gothic";
  src: url('../fonts/NewsGothic-MediumObl-webfont.eot');
  src: url('../fonts/NewsGothic-MediumObl-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NewsGothic-MediumObl-webfont.woff') format('woff'),
       url('../fonts/NewsGothic-MediumObl-webfont.ttf') format('truetype'),
       url('../fonts/NewsGothic-MediumObl-webfont.svg#NewsGothicFSMediumItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: "NewsGothicFSLightRegular";
    src: url('../fonts/NewsGothic-Light-webfont.eot');
    src: url('../fonts/NewsGothic-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-Light-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-Light-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-Light-webfont.svg#NewsGothicFSLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSLightItalic";
    src: url('../fonts/NewsGothic-LightOblique-webfont.eot');
    src: url('../fonts/NewsGothic-LightOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-LightOblique-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-LightOblique-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-LightOblique-webfont.svg#NewsGothicFSLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSBookBoldItalic";
    src: url('../fonts/NewsGothic-DemiBoldObl-webfont.eot');
    src: url('../fonts/NewsGothic-DemiBoldObl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-DemiBoldObl-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-DemiBoldObl-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-DemiBoldObl-webfont.svg#NewsGothicFSBookBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSCapsLightRegular";
    src: url('../fonts/NewsGothicCaps-Light-webfont.eot');
    src: url('../fonts/NewsGothicCaps-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothicCaps-Light-webfont.woff') format('woff'),
         url('../fonts/NewsGothicCaps-Light-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothicCaps-Light-webfont.svg#NewsGothicFSCapsLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSCapsBookRegular";
    src: url('../fonts/NewsGothicCaps-Book-webfont.eot');
    src: url('../fonts/NewsGothicCaps-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothicCaps-Book-webfont.woff') format('woff'),
         url('../fonts/NewsGothicCaps-Book-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothicCaps-Book-webfont.svg#NewsGothicFSCapsBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSBookRegular";
    src: url('../fonts/NewsGothic-Book-webfont.eot');
    src: url('../fonts/NewsGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-Book-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-Book-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-Book-webfont.svg#NewsGothicFSBookRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSBookItalic";
    src: url('../fonts/NewsGothic-BookOblique-webfont.eot');
    src: url('../fonts/NewsGothic-BookOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-BookOblique-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-BookOblique-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-BookOblique-webfont.svg#NewsGothicFSBookItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSMediumBold";
    src: url('../fonts/NewsGothic-Bold-webfont.eot');
    src: url('../fonts/NewsGothic-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-Bold-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-Bold-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-Bold-webfont.svg#NewsGothicFSMediumBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NewsGothicFSMediumBoldItalic";
    src: url('../fonts/NewsGothic-BoldOblique-webfont.eot');
    src: url('../fonts/NewsGothic-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsGothic-BoldOblique-webfont.woff') format('woff'),
         url('../fonts/NewsGothic-BoldOblique-webfont.ttf') format('truetype'),
         url('../fonts/NewsGothic-BoldOblique-webfont.svg#NewsGothicFSMediumBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**/




/**
* #Font Classes
**/

.NewsGothicFSLightRegular {
  font-family: "NewsGothicFSLightRegular";
}
.NewsGothicFSLightItalic {
  font-family: "NewsGothicFSLightItalic";
}
.NewsGothicFSBookBoldItalic {
  font-family: "NewsGothicFSBookBoldItalic";
}
.NewsGothicFSCapsLightRegular {
  font-family: "NewsGothicFSCapsLightRegular";
}
.NewsGothicFSCapsBookRegular {
  font-family: "NewsGothicFSCapsBookRegular";
}
.NewsGothicFSBookRegular {
  font-family: "NewsGothicFSBookRegular";
}
.NewsGothicFSBookItalic {
  font-family: "NewsGothicFSBookItalic";
}
.NewsGothicFSMediumBold {
  font-family: "NewsGothicFSMediumBold";
}
.NewsGothicFSMediumBoldItalic {
  font-family: "NewsGothicFSMediumBoldItalic";
}

/**/
