/**
* #Constant Contact
**/

.sidebar-right {
  .constant-contact {
    .form-item {
      input {
        width: 95%;
      }
    }
  }
}

.constant-contact {
  .form-type-textfield {
    margin: 0;
  }
  .btn-primary {
    font-family: "News Gothic Bold";
    text-shadow: none;
    &:active {
      background-color: $red;
    }
  }
}

/**/
