
.view-forum-landing-page {
  margin: 0 auto;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    width: 724px;
  }
  @media screen and (min-width: 980px) and (max-width: 1199px) {
    width: 940px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
  .view-content {
    float: left;
    margin-bottom: 80px;
    width: 100%;
  }
  .views-row {
    border-bottom: 1px solid $grey9;
    float: left;
    @include FedraRegular;
    padding: 60px 0 70px;
    width: 100%;
  }
  .views-field-title {
    @include font-size(25);
    line-height: 29px;
    a {
      color: $grey9;
    }
  }
  .landing-forum {
    float: left;
    padding: 0 30px 0 0;
    width: 50%;
    @include box-sizing(border-box);
  }
  .landing-opinions {
    overflow: hidden;
  }
}
