/**
* #Icomoon
**/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before, .owl-next:before {
  content: "\e600";
}
.icon-angle-left:before, .owl-prev:before {
  content: "\e601";
}
.icon-play:before {
  content: "\e60a";
}
.icon-feed:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e602";
}
.icon-vimeo:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-search:before {
  content: "\e605";
}
.icon-play2:before {
  content: "\e608";
}
.icon-linkedin:before {
  content: "\e607";
}
.icon-mail:before {
  content: "\e609";
}


/**/
