/**
* #Off Screen Nav
**/

.effeckt-off-screen-nav {
  position: fixed;
  z-index: 999991;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: $grey3;
  visibility: hidden;
  width: 13rem;
  ul {
    list-style: none;
    margin: 0;
    li {
      list-style: none;
      &.leaf {
        list-style: none;
      }
    }
    > li {
      ul {
        margin-bottom: 15px;
        li {
          a {
            border: none;
            @include font-size(14);
          }
        }
      }
      > a {
        border-bottom: 1px solid #444;
        padding-left: .5rem;
      }
      li {
        border: none;
      }
    }
  }
  &.effeckt-show {
    overflow-y: scroll;
    visibility: visible;
  }
  h4 {
    color: white;
    border-bottom: 1px solid #eee;
    padding: 1rem 0.5rem 0.2rem 0;
    margin: 0 1rem 1rem;
    text-transform: uppercase;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    position: relative;
    a {
      @include font-size(24);
    }
  }
}

.off-screen-nav-button {
  color: $white;
  border: none;
  background-color: $grey3;
  display: none;
  float: left;
  margin: 0 20px 0 0;
  padding: 0.6em 0.7em;
  @media screen and (max-width: 374px) {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 1025px) {
.off-screen-nav-button {
  display: block;
  + .row-fluid {
    overflow: hidden;
    width: auto;
    .pull-right {
      text-align: right;
      width: 100%;
    }
    .language-switcher-locale-url {
      li {
        margin: 0 1px 0 0;
        // display: inline-block;
        border-right: 0 none;
        float: none;
        height: auto;
        line-height: 1em;
        padding: 0;
        &:last-child {
          margin: 0;
        }
      }
      // a {
      //   padding: 5px 0;
      // }
    }
  }
}
}
@media screen and (max-width: 479px) {
  .off-screen-nav-button {
    + .row-fluid {
      .language-switcher-locale-url {
        border-top: 1px dotted #ccc;
        clear: both;
        margin: 6px 0 0;
        width: 100%;
        a {
          padding: 5px 0;
        }
      }
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 1025px) {
  .language-switcher-locale-url {
    a {
      float: left;
      padding: 7px 10px;
    }
  }
}

.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: $white;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.effeckt-off-screen-nav ul {
  list-style: none;
}

.effeckt-off-screen-nav li:first-child a {
  border-top: 0;
}

.effeckt-off-screen-nav li:last-child a {
  border-bottom: 0;
}

.effeckt-off-screen-nav li a {
  display: block;
  padding: 0.3rem 1rem;
  color: white;
}

.effeckt-off-screen-nav-close {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 150%;
}

.effeckt-off-screen-nav-close:hover,
.effeckt-off-screen-nav-close:focus {
  color: red;
}

.effeckt-off-screen-nav-left-overlay {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 150ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -o-transition: 150ms cubic-bezier(0.09, 0.68, 0, 0.99);
  transition: 150ms cubic-bezier(0.09, 0.68, 0, 0.99);
}

.effeckt-off-screen-nav-left-overlay.effeckt-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-left-push {
  -webkit-transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  -o-transform: translateX(-12rem);
  transform: translateX(-12rem);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-left-push.effeckt-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-left-push.effeckt-show ~ [data-effeckt-page].effeckt-page-active {
  -webkit-transform: translateX(12rem);
  -ms-transform: translateX(12rem);
  -o-transform: translateX(12rem);
  transform: translateX(12rem);
}

.effeckt-off-screen-nav-left-push ~ [data-effeckt-page].effeckt-page-active {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-left-reveal {
  width: 0px;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-left-reveal h4 {
  width: 10rem;
}

.effeckt-off-screen-nav-left-reveal.effeckt-show {
  width: 12rem;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-left-reveal.effeckt-show ~ [data-effeckt-page] {
  -webkit-transform: translateX(12rem);
  -ms-transform: translateX(12rem);
  -o-transform: translateX(12rem);
  transform: translateX(12rem);
}

.effeckt-off-screen-nav-left-reveal ~ [data-effeckt-page] {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-left-squeeze {
  width: 40%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-left-squeeze.effeckt-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-left-squeeze.effeckt-show ~ [data-effeckt-page] {
  width: 60%;
}

.effeckt-off-screen-nav-left-squeeze ~ [data-effeckt-page] {
  float: right;
  -webkit-transition: width 150ms;
  -o-transition: width 150ms;
  transition: width 150ms;
  max-width: none;
}

.effeckt-off-screen-nav-right-overlay {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 150ms cubic-bezier(0.09, 0.68, 0, 0.99);
  -o-transition: 150ms cubic-bezier(0.09, 0.68, 0, 0.99);
  transition: 150ms cubic-bezier(0.09, 0.68, 0, 0.99);
}

.effeckt-off-screen-nav-right-overlay.effeckt-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-right-push {
  left: auto;
  right: 0;
  -webkit-transform: translateX(12rem);
  -ms-transform: translateX(12rem);
  -o-transform: translateX(12rem);
  transform: translateX(12rem);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-push.effeckt-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-right-push.effeckt-show ~ [data-effeckt-page] {
  -webkit-transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  -o-transform: translateX(-12rem);
  transform: translateX(-12rem);
}

.effeckt-off-screen-nav-right-push ~ [data-effeckt-page] {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-reveal {
  width: 0;
  overflow: hidden;
  left: auto;
  right: 0;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-reveal h4 {
  width: 10rem;
  position: absolute;
  top: 0px;
  right: 0;
}

.effeckt-off-screen-nav-right-reveal ul {
  width: 12rem;
  position: absolute;
  top: 3.2rem;
  right: 0;
}

.effeckt-off-screen-nav-right-reveal.effeckt-show {
  width: 12rem;
}

.effeckt-off-screen-nav-right-reveal.effeckt-show ~ [data-effeckt-page] {
  -webkit-transform: translateX(-12rem);
  -ms-transform: translateX(-12rem);
  -o-transform: translateX(-12rem);
  transform: translateX(-12rem);
}

.effeckt-off-screen-nav-right-reveal ~ [data-effeckt-page] {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-squeeze {
  left: auto;
  right: 0;
  width: 40%;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-squeeze.effeckt-show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.effeckt-off-screen-nav-right-squeeze.effeckt-show ~ [data-effeckt-page] {
  width: 60%;
}

.effeckt-off-screen-nav-right-squeeze ~ [data-effeckt-page] {
  float: left;
  -webkit-transition: width 150ms;
  -o-transition: width 150ms;
  transition: width 150ms;
  max-width: none;
}

.effeckt-off-screen-nav-left-rotate {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateX(-100%) scale(1.01) rotateY(-30deg);
  -ms-transform: translateX(-100%) scale(1.01) rotateY(-30deg);
  -o-transform: translateX(-100%) scale(1.01) rotateY(-30deg);
  transform: translateX(-100%) scale(1.01) rotateY(-30deg);
}

.effeckt-off-screen-nav-left-rotate ~ [data-effeckt-page].effeckt-page-active {
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-left-rotate ~ .effeckt-overlay {
  z-index: 900;
  visibility: visible;
}

.effeckt-off-screen-nav-left-rotate.effeckt-show {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.effeckt-off-screen-nav-left-rotate.effeckt-show ~ [data-effeckt-page].effeckt-page-active {
  -webkit-transform: translateX(260px) rotateY(15deg);
  -ms-transform: translateX(260px) rotateY(15deg);
  -o-transform: translateX(260px) rotateY(15deg);
  transform: translateX(260px) rotateY(15deg);
  overflow: hidden;
}

.effeckt-off-screen-nav-left-rotate.effeckt-show ~ [data-effeckt-page] .off-screen-nav-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.effeckt-off-screen-nav-top-overlay {
  width: 100%;
  bottom: auto;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.effeckt-off-screen-nav-top-overlay.effeckt-show {
  visibility: visible;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-bottom-overlay {
  width: 100%;
  top: auto;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.effeckt-off-screen-nav-bottom-overlay.effeckt-show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-top-bounce {
  width: 100%;
  bottom: auto;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-top-bounce.effeckt-show {
  visibility: visible;
  -webkit-animation: navFromTopBounceIn 150ms both ease;
  -o-animation: navFromTopBounceIn 150ms both ease;
  animation: navFromTopBounceIn 150ms both ease;
}

.effeckt-off-screen-nav-top-bounce.effeckt-hide {
  -webkit-animation: navFromTopBounceOut 150ms both ease;
  -o-animation: navFromTopBounceOut 150ms both ease;
  animation: navFromTopBounceOut 150ms both ease;
}

.effeckt-off-screen-nav-top-bounce-out {
  width: 100%;
  bottom: auto;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-top-bounce-out.effeckt-show {
  visibility: visible;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-top-bounce-out.effeckt-hide {
  -webkit-animation: navFromTopBounceOut 150ms both ease;
  -o-animation: navFromTopBounceOut 150ms both ease;
  animation: navFromTopBounceOut 150ms both ease;
}

@-webkit-keyframes navFromTopBounceIn {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  20% {
    padding-top: 0px;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    padding-top: 20px;
  }

  100% {
    padding-top: 0;
  }
}

@-o-keyframes navFromTopBounceIn {
  0% {
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  20% {
    padding-top: 0px;
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    padding-top: 20px;
  }

  100% {
    padding-top: 0;
  }
}

@keyframes navFromTopBounceIn {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  20% {
    padding-top: 0px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    padding-top: 20px;
  }

  100% {
    padding-top: 0;
  }
}

@-webkit-keyframes navFromTopBounceOut {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    padding-top: 0px;
  }

  40% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    padding-top: 20px;
  }

  80% {
    padding-top: 0px;
  }

  90%, 100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-o-keyframes navFromTopBounceOut {
  0% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-top: 0px;
  }

  40% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-top: 20px;
  }

  80% {
    padding-top: 0px;
  }

  90%, 100% {
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes navFromTopBounceOut {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-top: 0px;
  }

  40% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-top: 20px;
  }

  80% {
    padding-top: 0px;
  }

  90%, 100% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.effeckt-off-screen-nav-bottom-bounce {
  width: 100%;
  top: auto;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-bottom-bounce.effeckt-show {
  -webkit-animation: navFromBottomBounceIn 150ms both ease;
  -o-animation: navFromBottomBounceIn 150ms both ease;
  animation: navFromBottomBounceIn 150ms both ease;
}

.effeckt-off-screen-nav-bottom-bounce.effeckt-hide {
  -webkit-animation: navFromBottomBounceOut 150ms both ease;
  -o-animation: navFromBottomBounceOut 150ms both ease;
  animation: navFromBottomBounceOut 150ms both ease;
}

.effeckt-off-screen-nav-bottom-bounce-out {
  width: 100%;
  top: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-bottom-bounce-out.effeckt-show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-bottom-bounce-out.effeckt-hide {
  -webkit-animation: navFromBottomBounceOut 150ms both ease;
  -o-animation: navFromBottomBounceOut 150ms both ease;
  animation: navFromBottomBounceOut 150ms both ease;
}

@-webkit-keyframes navFromBottomBounceIn {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  20% {
    padding-bottom: 0px;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    padding-bottom: 20px;
  }

  100% {
    padding-bottom: 0;
  }
}

@-o-keyframes navFromBottomBounceIn {
  0% {
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  20% {
    padding-bottom: 0px;
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    padding-bottom: 20px;
  }

  100% {
    padding-bottom: 0;
  }
}

@keyframes navFromBottomBounceIn {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  20% {
    padding-bottom: 0px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  60% {
    padding-bottom: 20px;
  }

  100% {
    padding-bottom: 0;
  }
}

@-webkit-keyframes navFromBottomBounceOut {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    padding-bottom: 0px;
  }

  40% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    padding-bottom: 20px;
  }

  80% {
    padding-bottom: 0;
  }

  90%, 100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-o-keyframes navFromBottomBounceOut {
  0% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-bottom: 0px;
  }

  40% {
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-bottom: 20px;
  }

  80% {
    padding-bottom: 0;
  }

  90%, 100% {
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes navFromBottomBounceOut {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-bottom: 0px;
  }

  40% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    padding-bottom: 20px;
  }

  80% {
    padding-bottom: 0;
  }

  90%, 100% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.effeckt-off-screen-nav-push-top {
  width: 100%;
  bottom: auto;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.effeckt-off-screen-nav-push-top.effeckt-show {
  visibility: visible;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-push-top.effeckt-show ~ [data-effeckt-page] {
  -webkit-transform: translateY(12rem);
  -ms-transform: translateY(12rem);
  -o-transform: translateY(12rem);
  transform: translateY(12rem);
}

.effeckt-off-screen-nav-push-top ~ [data-effeckt-page] {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-push-bottom {
  width: 100%;
  top: auto;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.effeckt-off-screen-nav-push-bottom.effeckt-show {
  visibility: visible;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-push-bottom.effeckt-show ~ [data-effeckt-page] {
  -webkit-transform: translateY(-12rem);
  -ms-transform: translateY(-12rem);
  -o-transform: translateY(-12rem);
  transform: translateY(-12rem);
}

.effeckt-off-screen-nav-push-bottom ~ [data-effeckt-page] {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-rotate {
  left: auto;
  right: 0;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: rotateY(30deg) translateX(100%) scale(1.01);
  -ms-transform: rotateY(30deg) translateX(100%) scale(1.01);
  -o-transform: rotateY(30deg) translateX(100%) scale(1.01);
  transform: rotateY(30deg) translateX(100%) scale(1.01);
}

.effeckt-off-screen-nav-right-rotate ~ [data-effeckt-page] {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
}

.effeckt-off-screen-nav-right-rotate ~ .effeckt-overlay {
  z-index: 900;
  visibility: visible;
}

.effeckt-off-screen-nav-right-rotate.effeckt-show {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.effeckt-off-screen-nav-right-rotate.effeckt-show ~ [data-effeckt-page] {
  -webkit-transform: translateX(-260px) rotateY(-15deg);
  -ms-transform: translateX(-260px) rotateY(-15deg);
  -o-transform: translateX(-260px) rotateY(-15deg);
  transform: translateX(-260px) rotateY(-15deg);
  overflow: hidden;
}

.effeckt-off-screen-nav-right-rotate.effeckt-show ~ [data-effeckt-page] .off-screen-nav-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.effeckt-off-screen-nav-top-card-deck {
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  bottom: auto;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%;
  overflow: visible;
  -webkit-transition: -webkit-transform 250ms;
  -o-transition: -o-transform 250ms;
  transition: -ms-transform 250ms;
  transition: transform 250ms;
}

.effeckt-off-screen-nav-top-card-deck.effeckt-show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-top-card-deck h4 {
  position: relative;
  z-index: 300;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  display: block;
}

.effeckt-off-screen-nav-top-card-deck h4:active {
  -webkit-transform: rotateX(60deg);
  -ms-transform: rotateX(60deg);
  -o-transform: rotateX(60deg);
  transform: rotateX(60deg);
}

.effeckt-off-screen-nav-top-card-deck ul {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
}

.effeckt-off-screen-nav-top-card-deck ul li {
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.effeckt-off-screen-nav-bottom-card-deck {
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  top: auto;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  overflow: visible;
  -webkit-transition: -webkit-transform 250ms;
  -o-transition: -o-transform 250ms;
  transition: -ms-transform 250ms;
  transition: transform 250ms;
}

.effeckt-off-screen-nav-bottom-card-deck.effeckt-show {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.effeckt-off-screen-nav-bottom-card-deck h4 {
  position: relative;
  z-index: 300;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  display: block;
}

.effeckt-off-screen-nav-bottom-card-deck h4:active {
  -webkit-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  -o-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
}

.effeckt-off-screen-nav-bottom-card-deck ul {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
}

.effeckt-off-screen-nav-bottom-card-deck ul li {
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
}

.effeckt-off-screen-nav-left-bounce {
  -webkit-transition: 150ms;
  -o-transition: 150ms;
  transition: 150ms;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.effeckt-off-screen-nav-left-bounce.effeckt-show {
  visibility: visible;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-animation: navFromLeftBounceIn 150ms both ease;
  -o-animation: navFromLeftBounceIn 150ms both ease;
  animation: navFromLeftBounceIn 150ms both ease;
}

[data-effeckt-page] {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  visibility: hidden;
  z-index: 0;
  padding: 2rem 4rem 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: none;
}

[data-effeckt-page].effeckt-page-active {
  display: block;
  visibility: visible;
  z-index: 10;
}

[data-effeckt-page].effeckt-page-animating {
  overflow: hidden;
  z-index: 100;
  position: absolute;
}

[data-effeckt-page].slide-from-left {
  -webkit-animation: slideFromLeft 1000ms forwards ease-in-out;
  -o-animation: slideFromLeft 1000ms forwards ease-in-out;
  animation: slideFromLeft 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-to-left {
  -webkit-animation: slideToLeft 1000ms forwards ease-in-out;
  -o-animation: slideToLeft 1000ms forwards ease-in-out;
  animation: slideToLeft 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-from-right {
  -webkit-animation: slideFromRight 1000ms forwards ease-in-out;
  -o-animation: slideFromRight 1000ms forwards ease-in-out;
  animation: slideFromRight 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-to-right {
  -webkit-animation: slideToRight 1000ms forwards ease-in-out;
  -o-animation: slideToRight 1000ms forwards ease-in-out;
  animation: slideToRight 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-from-top {
  -webkit-animation: slideFromTop 1000ms forwards ease-in-out;
  -o-animation: slideFromTop 1000ms forwards ease-in-out;
  animation: slideFromTop 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-to-top {
  -webkit-animation: slideToTop 1000ms forwards ease-in-out;
  -o-animation: slideToTop 1000ms forwards ease-in-out;
  animation: slideToTop 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-from-bottom {
  -webkit-animation: slideFromBottom 1000ms forwards ease-in-out;
  -o-animation: slideFromBottom 1000ms forwards ease-in-out;
  animation: slideFromBottom 1000ms forwards ease-in-out;
}

[data-effeckt-page].slide-to-bottom {
  -webkit-animation: slideToBottom 1000ms forwards ease-in-out;
  -o-animation: slideToBottom 1000ms forwards ease-in-out;
  animation: slideToBottom 1000ms forwards ease-in-out;
}

[data-effeckt-page].scale-up-from-behind {
  -webkit-animation: scaleUpFromBehind 1000ms forwards ease-in-out;
  -o-animation: scaleUpFromBehind 1000ms forwards ease-in-out;
  animation: scaleUpFromBehind 1000ms forwards ease-in-out;
}

[data-effeckt-page].scale-up-to-front {
  -webkit-animation: scaleUpToFront 1000ms forwards ease-in-out;
  -o-animation: scaleUpToFront 1000ms forwards ease-in-out;
  animation: scaleUpToFront 1000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-to-behind {
  -webkit-animation: scaleDownToBehind 1000ms forwards ease-in-out;
  -o-animation: scaleDownToBehind 1000ms forwards ease-in-out;
  animation: scaleDownToBehind 1000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-from-front {
  -webkit-animation: scaleDownFromFront 1000ms forwards ease-in-out;
  -o-animation: scaleDownFromFront 1000ms forwards ease-in-out;
  animation: scaleDownFromFront 1000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-to-left {
  -webkit-animation: scaleDownSlideToLeft 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideToLeft 2000ms forwards ease-in-out;
  animation: scaleDownSlideToLeft 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-from-right {
  -webkit-animation: scaleDownSlideFromRight 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideFromRight 2000ms forwards ease-in-out;
  animation: scaleDownSlideFromRight 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-from-left {
  -webkit-animation: scaleDownSlideFromLeft 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideFromLeft 2000ms forwards ease-in-out;
  animation: scaleDownSlideFromLeft 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-to-right {
  -webkit-animation: scaleDownSlideToRight 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideToRight 2000ms forwards ease-in-out;
  animation: scaleDownSlideToRight 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-from-top {
  -webkit-animation: scaleDownSlideFromTop 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideFromTop 2000ms forwards ease-in-out;
  animation: scaleDownSlideFromTop 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-to-bottom {
  -webkit-animation: scaleDownSlideToBottom 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideToBottom 2000ms forwards ease-in-out;
  animation: scaleDownSlideToBottom 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-from-bottom {
  -webkit-animation: scaleDownSlideFromBottom 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideFromBottom 2000ms forwards ease-in-out;
  animation: scaleDownSlideFromBottom 2000ms forwards ease-in-out;
}

[data-effeckt-page].scale-down-slide-to-top {
  -webkit-animation: scaleDownSlideToTop 2000ms forwards ease-in-out;
  -o-animation: scaleDownSlideToTop 2000ms forwards ease-in-out;
  animation: scaleDownSlideToTop 2000ms forwards ease-in-out;
}

[data-effeckt-page].rotate-to-behind {
  -webkit-transform-origin: -50% 50%;
  -ms-transform-origin: -50% 50%;
  -o-transform-origin: -50% 50%;
  transform-origin: -50% 50%;
  -webkit-animation: rotateToBehind 500ms both ease-in;
  -o-animation: rotateToBehind 500ms both ease-in;
  animation: rotateToBehind 500ms both ease-in;
}

[data-effeckt-page].rotate-to-front {
  -webkit-transform-origin: 150% 50%;
  -ms-transform-origin: 150% 50%;
  -o-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  -webkit-animation: rotateToFront 500ms both ease-out;
  -o-animation: rotateToFront 500ms both ease-out;
  animation: rotateToFront 500ms both ease-out;
}

[data-effeckt-page].flip-to-right-front {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToRightBack 1000ms forwards ease;
  -o-animation: flipToRightBack 1000ms forwards ease;
  animation: flipToRightBack 1000ms forwards ease;
}

[data-effeckt-page].flip-to-right-back {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToRight 1000ms forwards ease;
  -o-animation: flipToRight 1000ms forwards ease;
  animation: flipToRight 1000ms forwards ease;
}

[data-effeckt-page].flip-to-left-front {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToLeftBack 1000ms forwards ease;
  -o-animation: flipToLeftBack 1000ms forwards ease;
  animation: flipToLeftBack 1000ms forwards ease;
}

[data-effeckt-page].flip-to-left-back {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToLeft 1000ms forwards ease;
  -o-animation: flipToLeft 1000ms forwards ease;
  animation: flipToLeft 1000ms forwards ease;
}

[data-effeckt-page].flip-to-top-front {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToTopBack 1000ms forwards ease;
  -o-animation: flipToTopBack 1000ms forwards ease;
  animation: flipToTopBack 1000ms forwards ease;
}

[data-effeckt-page].flip-to-top-back {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToTop 1000ms forwards ease;
  -o-animation: flipToTop 1000ms forwards ease;
  animation: flipToTop 1000ms forwards ease;
}

[data-effeckt-page].flip-to-bottom-front {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToBottomBack 1000ms forwards ease;
  -o-animation: flipToBottomBack 1000ms forwards ease;
  animation: flipToBottomBack 1000ms forwards ease;
}

[data-effeckt-page].flip-to-bottom-back {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: flipToBottom 1000ms forwards ease;
  -o-animation: flipToBottom 1000ms forwards ease;
  animation: flipToBottom 1000ms forwards ease;
}

@-webkit-keyframes slideFromTop {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-o-keyframes slideFromTop {
  from {
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slideFromTop {
  from {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideToTop {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-o-keyframes slideToTop {
  to {
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slideToTop {
  to {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideFromRight {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes slideFromRight {
  from {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideFromRight {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slideToRight {
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes slideToRight {
  to {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideToRight {
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes slideFromBottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-o-keyframes slideFromBottom {
  from {
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes slideFromBottom {
  from {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes slideToBottom {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-o-keyframes slideToBottom {
  to {
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes slideToBottom {
  to {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes slideFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes slideFromLeft {
  from {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes slideToLeft {
  to {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideToLeft {
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes scaleUpFromBehind {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-o-keyframes scaleUpFromBehind {
  from {
    opacity: 0;
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes scaleUpFromBehind {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-webkit-keyframes scaleUpToFront {
  to {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@-o-keyframes scaleUpToFront {
  to {
    opacity: 0;
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes scaleUpToFront {
  to {
    opacity: 0;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@-webkit-keyframes scaleDownToBehind {
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-o-keyframes scaleDownToBehind {
  to {
    opacity: 0;
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes scaleDownToBehind {
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-webkit-keyframes scaleDownFromFront {
  from {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes scaleDownFromFront {
  from {
    opacity: 0;
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleDownFromFront {
  from {
    opacity: 0;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes scaleDownSlideToLeft {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }
}

@-o-keyframes scaleDownSlideToLeft {
  25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }

  100% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes scaleDownSlideToLeft {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    -ms-transform: translateZ(-500px) translateX(-200%);
    -o-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    -ms-transform: translateZ(-500px) translateX(-200%);
    -o-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }
}

@-webkit-keyframes scaleDownSlideFromRight {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
}

@-o-keyframes scaleDownSlideFromRight {
  0%, 25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
}

@keyframes scaleDownSlideFromRight {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    -ms-transform: translateZ(-500px) translateX(200%);
    -o-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
  }
}

@-webkit-keyframes scaleDownSlideFromLeft {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
  }
}

@-o-keyframes scaleDownSlideFromLeft {
  0%, 25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
  }
}

@keyframes scaleDownSlideFromLeft {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
    -ms-transform: translateZ(-500px) translateX(-200%);
    -o-transform: translateZ(-500px) translateX(-200%);
    transform: translateZ(-500px) translateX(-200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
  }
}

@-webkit-keyframes scaleDownSlideToRight {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }
}

@-o-keyframes scaleDownSlideToRight {
  25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }

  100% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }
}

@keyframes scaleDownSlideToRight {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    -ms-transform: translateZ(-500px) translateX(200%);
    -o-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateX(200%);
    -ms-transform: translateZ(-500px) translateX(200%);
    -o-transform: translateZ(-500px) translateX(200%);
    transform: translateZ(-500px) translateX(200%);
  }
}

@-webkit-keyframes scaleDownSlideFromTop {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
  }
}

@-o-keyframes scaleDownSlideFromTop {
  0%, 25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -o-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
  }
}

@keyframes scaleDownSlideFromTop {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(-200%);
    -ms-transform: translateZ(-500px) translateY(-200%);
    -o-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0%);
    -ms-transform: translateZ(0) translateY(0%);
    -o-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
  }
}

@-webkit-keyframes scaleDownSlideToBottom {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }
}

@-o-keyframes scaleDownSlideToBottom {
  25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }

  100% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }
}

@keyframes scaleDownSlideToBottom {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(200%);
    -ms-transform: translateZ(-500px) translateY(200%);
    -o-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(200%);
    -ms-transform: translateZ(-500px) translateY(200%);
    -o-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }
}

@-webkit-keyframes scaleDownSlideFromBottom {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
  }
}

@-o-keyframes scaleDownSlideFromBottom {
  0%, 25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -o-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
  }
}

@keyframes scaleDownSlideFromBottom {
  0%, 25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(200%);
    -ms-transform: translateZ(-500px) translateY(200%);
    -o-transform: translateZ(-500px) translateY(200%);
    transform: translateZ(-500px) translateY(200%);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateY(0%);
    -ms-transform: translateZ(0) translateY(0%);
    -o-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
  }
}

@-webkit-keyframes scaleDownSlideToTop {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }
}

@-o-keyframes scaleDownSlideToTop {
  25% {
    opacity: 0.5;
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }

  100% {
    opacity: 0.5;
    -o-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }
}

@keyframes scaleDownSlideToTop {
  25% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px);
    -ms-transform: translateZ(-500px);
    -o-transform: translateZ(-500px);
    transform: translateZ(-500px);
  }

  75% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(-200%);
    -ms-transform: translateZ(-500px) translateY(-200%);
    -o-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translateZ(-500px) translateY(-200%);
    -ms-transform: translateZ(-500px) translateY(-200%);
    -o-transform: translateZ(-500px) translateY(-200%);
    transform: translateZ(-500px) translateY(-200%);
  }
}

@-webkit-keyframes rotateToBehind {
  to {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(90deg);
    transform: translateZ(-500px) rotateY(90deg);
  }
}

@-o-keyframes rotateToBehind {
  to {
    opacity: 0;
    -o-transform: translateZ(-500px) rotateY(90deg);
    transform: translateZ(-500px) rotateY(90deg);
  }
}

@keyframes rotateToBehind {
  to {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(90deg);
    -ms-transform: translateZ(-500px) rotateY(90deg);
    -o-transform: translateZ(-500px) rotateY(90deg);
    transform: translateZ(-500px) rotateY(90deg);
  }
}

@-webkit-keyframes rotateToFront {
  from {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(-90deg);
    transform: translateZ(-500px) rotateY(-90deg);
  }
}

@-o-keyframes rotateToFront {
  from {
    opacity: 0;
    -o-transform: translateZ(-500px) rotateY(-90deg);
    transform: translateZ(-500px) rotateY(-90deg);
  }
}

@keyframes rotateToFront {
  from {
    opacity: 0;
    -webkit-transform: translateZ(-500px) rotateY(-90deg);
    -ms-transform: translateZ(-500px) rotateY(-90deg);
    -o-transform: translateZ(-500px) rotateY(-90deg);
    transform: translateZ(-500px) rotateY(-90deg);
  }
}

@-webkit-keyframes flipToRight {
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-o-keyframes flipToRight {
  to {
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes flipToRight {
  to {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes flipToRightBack {
  from {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@-o-keyframes flipToRightBack {
  from {
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes flipToRightBack {
  from {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@-webkit-keyframes flipToLeft {
  to {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@-o-keyframes flipToLeft {
  to {
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes flipToLeft {
  to {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@-webkit-keyframes flipToLeftBack {
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-o-keyframes flipToLeftBack {
  from {
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes flipToLeftBack {
  from {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes flipToTop {
  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@-o-keyframes flipToTop {
  to {
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@keyframes flipToTop {
  to {
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@-webkit-keyframes flipToTopBack {
  from {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-o-keyframes flipToTopBack {
  from {
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@keyframes flipToTopBack {
  from {
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes flipToBottom {
  to {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-o-keyframes flipToBottom {
  to {
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@keyframes flipToBottom {
  to {
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes flipToBottomBack {
  from {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@-o-keyframes flipToBottomBack {
  from {
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

@keyframes flipToBottomBack {
  from {
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

.page-on-top,
[data-effeckt-page].scale-up-to-front.effeckt-page-animating,
[data-effeckt-page].scale-down-from-front.effeckt-page-animating {
  z-index: 999;
}

.animation-delay-100 {
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animation-delay-200 {
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animation-delay-300,
[data-effeckt-page].scale-up-from-behind {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animation-delay-500 {
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animation-delay-700 {
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animation-delay-1000 {
  -webkit-animation-delay: 1000s;
  -o-animation-delay: 1000s;
  animation-delay: 1000s;
}
