
.bean-section-intro {
	.content {
		margin: 0 auto;
		max-width: 960px;
		text-align: center;
		width: 100%;
	}
}
.bean-graphic-over-text {
	.content {
		color: $greenteal;
		line-height: 1;
		text-align: center;
		.largetext {
			font-size: 70.5px;
		}
		.mediumtext {
			font-size: 40.5px;
		}
	}
}
.bean-2-col-graphic-text  {
	img {
	  float: left;
	}
	p {
	  margin-left: 25%;
	}
}
.bean-2-tier-video-caption {
	padding-left: 15px;
    padding-right: 15px;
	h3 {
		display: none;
	}
	.attribution {
		color: #000;
		font-size: 14px;
		text-align: right;
		text-transform: uppercase;
		@include NewsGothicRegular;
		&:before {
			content: "-";
			margin-right: 3px;
		}
	}
}
.ourimpact {
	color: $greenolive;
	.region-content {
	  margin: 0 auto;
	  max-width: 1170px;
	  width: 1170px;
	}
	.block.block-bean {
		h2 {
			color: $bluegrey;
			font-size: 40px;
			@include NewsGothicRegular;
			padding-bottom: 35px;
			text-align: center;
		}
		.entity-bean {
			margin-bottom: 45px;
		}
	}
}

.field-group-format-wrapper a ::after {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("/sites/all/themes/tweme/images/play.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px auto;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease 0s;
  width: 100%;
  z-index: 10;
}
