.bean-groupoftwo,
.bean-groupofthree,
.bean-groupoffour {
	margin-bottom: 25px;	
}
.bean-section-intro {
	margin-bottom: 30px;
	.header {
		@include NGMedium;
		color: $bluegrey;
		font-size: 40px;
		margin-bottom: 40px;
		margin-top: 60px;
		text-align: center;		
		@media screen and (min-width: 980px) {
			padding: 0 180px;
		}
	}
	.introtext {

		@media screen and (min-width: 980px) {
			padding: 0 180px;
		}		
	}	
}
.bean-graphic-over-text {
	.content {
		line-height: 1;
		text-align: center;
		.topimage {
		  margin-bottom: 17px;
		}		
		.largetext {
			font-size: 70.5px;
			color: $greenteal;
		}
		.mediumtext {
			font-size: 35.5px;
			color: $greenteal;
		}
		.regulartext {
			color: $greenolive;
			font-size: 18px;
			padding: 0 5px;
		}
	}
}
.bean-2-col-graphic-text  {
	.field-collection-view {
	  margin-bottom: 25px;
	}
	.field-collection-view.field-collection-view-final {
	  margin-bottom: 0;
	}
}
.bean-2-tier-graphic-read-more {
	padding-left: 10px;
    padding-right: 10px;
	h3 {
		display: none;
	}
	.topimage {
	  text-align: center;
	}
	.details,
	.summary {
		color: #000;
		font-size: 18px;
		margin-top: 10px;
	}
	.read-more,
	.less-link {
		font-size: 0.8125rem;
		text-transform: uppercase;
		font-family: "News Gothic Demi Bold","News Gothic","Arial Narrow",Arial,sans-serif;			
	}
	.attribution p {
		color: #000;
		font-size: 11px;
		text-align: right;
		text-transform: uppercase;
		@include NewsGothicRegular;
		&:before {
			content: "-";
			margin-right: 3px;
		}
	}	
}

.bean-2-tier-video-caption {
	padding-left: 10px;
    padding-right: 10px;
	h3 {
		display: none;
	}
	.description {
		font-size: 18px;
		margin-top: 10px;
	}	
	.attribution {
		color: #000;
		font-size: 11px;
		text-align: right;
		text-transform: uppercase;
		@include NewsGothicRegular;
		&:before {
			content: "-";
			margin-right: 3px;
		}
	}
}
.ourimpact {
	color: $greenolive;
	.region-content {
	  margin: 0 auto;
	  max-width: 1170px;
	  width: 1170px;
	}
	.block.block-bean {
		color: $greenolive;
		h2 {
			color: $bluegrey;
			font-size: 40px;
			font-family: "News Gothic";
			padding-bottom: 35px;
			text-align: center;
		}
		.entity-bean {
			margin-bottom: 45px;
				h2 {
					color: $bluegrey;
					font-size: 40px;
					font-family: "News Gothic";
					padding-bottom: 35px;
					text-align: center;
				}	
		}
	}
}

.field-group-format-wrapper a ::after {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("/sites/all/themes/tweme/images/play.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px auto;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease 0s;
  width: 100%;
  z-index: 10;
}
.node.node-bean-block-page {
	.titlesectiondiv {
	  margin-bottom: 20px;
	  margin-top: 30px;
	}
	.bean-groupoftwo .beanssection {
	  display: inline-block;
	  padding-top: 3px;
	}
	.sectionfooter {
	  clear: both;
	  padding-top: 1rem;
	}	
	.bean-groupoftwo,
	.bean-groupofthree,
	.bean-groupoffour {
		margin-bottom: 25px;
	}	
	color: $greenolive;
	@media screen and (max-width: 590px) {
		.span12.entity.entity-bean.bean-section-intro {
		  margin: 10px 0;
		}			
		.entity.entity-bean.bean-graphic-over-text {
		  float: none;
		  margin-bottom: 20px;
		  width: 100%;
		}
		.entity.entity-bean.bean-2-tier-video-caption {
		  float: left;
		  margin-bottom: 20px;			  
		  width: 100%;
		}
		.entity.entity-bean.bean-2-tier-graphic-read-more {
		  float: left;
		  margin-bottom: 20px;			  
		  width: 100%;
		}						
		.entity.entity-bean.bean-2-col-graphic-text {
		  float: left;
		  margin-bottom: 20px;
		  width: 100%;	
			.topimage {
			  float: left;
			  width: 34%;
			  text-align: center;
			}
			.regulartext {
			  float: left;
			  width: 65%;
			}				  				
		}									
	}
	@media screen and (min-width: 591px) and (max-width: 767px) {
		.span12.entity.entity-bean.bean-section-intro {
		  margin: 10px 0;
		}			
		.entity.entity-bean.bean-graphic-over-text {
		  float: left;
		  width: 50%;
		}
		.entity.entity-bean.bean-2-tier-graphic-read-more,			
		.entity.entity-bean.bean-2-tier-video-caption {
		  float: left;
		  margin-bottom: 20px;
		  width: 100%;
		  	.collapsible.video.speed-fast {
			  text-align: center;
			}
		}				
		.entity.entity-bean.bean-2-col-graphic-text {
		  float: left;
		  margin-bottom: 20px;
		  width: 100%;	
			.topimage {
			  float: left;
			  width: 34%;
			  text-align: center;
			}
			.regulartext {
			  float: left;
			  width: 65%;
			}					  				
		}					
	}
	@media screen and (min-width: 768px) and (max-width: 979px) {
		.entity.entity-bean.bean-graphic-over-text {
		  float: left;
		  width: 45%;
		}
		.entity.entity-bean.bean-2-tier-graphic-read-more, 
		.entity.entity-bean.bean-2-tier-video-caption {
		  float: left;
		  margin-bottom: 25px;
		  width: 45%;
		  	.collapsible.video.speed-fast {
			  text-align: center;
			}
		}
		.entity.entity-bean.bean-2-tier-graphic-read-more:nth-of-type(3n),
		.entity.entity-bean.bean-2-tier-video-caption:nth-of-type(3n) {
		  display: block;
		  float: none;
		  margin: 0 auto;
		  clear: both;
		}					
		.entity.entity-bean.bean-2-col-graphic-text {
		  float: left;
			.topimage {
			  float: none;
			  width: 100%;
			  text-align: center;
			}
			.regulartext {
			  float: none;
			  width: 100%;
			}				  				
		}						
	}
	@media screen and (min-width: 980px) {
		.entity.entity-bean.bean-2-tier-graphic-read-more,
		.entity.entity-bean.bean-2-tier-video-caption {
		  float: left;
		  max-width: 32.5%;
		}
		.entity.entity-bean.bean-graphic-over-text {
		  float: left;
		  width: 25%;	
		}
		.entity.entity-bean.bean-2-col-graphic-text {
		  float: left;	
			.topimage {
			  float: left;
			  width: 34%;
			  text-align: center;
			}
			.regulartext {
			  float: left;
			  width: 65%;
			}				  				
		}						
	}
	@media screen and (min-width: 768px) and (max-width: 1200px) {
		.entity.entity-bean.bean-graphic-over-text {
		  float: left;
		  width: 45%;
		}
	}			
	.field-collection-view {
	  border: medium none;
	}
	strong {
		color: #000;
	}
	p {
		font-size: 18px;
	}	
}
.field-group-format-wrapper a:hover::after {
  background: transparent;
}  

.entity-bean.bean-2-tier-video-caption a.video::after {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("/sites/all/themes/tweme/images/play.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px auto;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease 0s;
  width: 100%;
  z-index: 10;
}
.entity-bean.bean-2-tier-video-caption .content a {
  margin-bottom: 20px;
  text-align: left;
}
.entity-bean.bean-2-tier-video-caption .content a {
  display: block;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}	
.entity-bean.bean-2-tier-video-caption .content a:hover::after {
  background-color: transparent
}
