.panel-pane.pane-block.pane-menu-descriptions-menu-press-center,
.panel-pane.pane-block.pane-menu-menu-press-center {
  background: #91998c none repeat scroll 0 0;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
  ul li.leaf {
	  list-style-image: none;
	  list-style-type: none;
  }
  ul {
	margin: 0 0 0px;
	padding: 0px;
	li.leaf {
	  margin: 0;
	  text-align: left;
	}	
  }
	li {
	padding: 0.4em 0.5em 0 0;
	    @media only screen and (min-width: 601px) and (max-width: 980px) {
	    		padding: 0.4em 0.5em .5em 0;
	    }
	  a{
	    color: #e0dbc9;
	    font-weight: normal;
	    text-align: center;
	    font-size: 20px;
	    line-height: 1.1em;
	    margin: 0 0 10px;
	    font-family: "Fedra Serif",Georgia,"Times New Roman",serif;
	    font-weight: normal;
	    text-transform: none;
		&:hover {
		  color: #fff;
		} 	    
	  }
	} 
	a::after {
	  color: #ffb151;
	  content: " >";
		&:hover {
		  color: #fff;
		} 	  
	}
    @media only screen and (min-width: 601px) and (max-width: 980px) {
		a::after {
		  content: "";	  
		}	
    }	

	a.active {
	  color: #fff;
	} 	
	a.active::after {
	  content: " ";
	} 
	a::hover {
	  color: #fff;
	}  		  		  
}
.i18n-es .panel-pane.pane-block.pane-menu-menu-press-center a::after {
  content: "";
}
#press-inquiries {
	h2 {
	  color: #e69740;
	  font-family: "News Gothic Demi Bold","News Gothic","Arial Narrow",Arial,sans-serif;
	  font-size: 0.6875rem;
	  letter-spacing: 1px;
	  line-height: 14px;
	  text-transform: uppercase;
	}
	h3 {
		color: #4d4d4d;
		font-size: 18px;
		margin: 0;
	}
	p {
		font-family: "Fedra Serif",Georgia,"Times New Roman",serif;	
		font-size: 14px;
		letter-spacing: 0;
		line-height: 1.2rem;
		a {
			font-size: 12.5px;
		}
	}
	.sidecontent {
	  margin-bottom: 20px;
	}	
}
#quick-links {
	h3 {
	  padding-bottom: 10px;
		a {
			color: #4d4d4d;
			&:hover {
				color: #cf4753;
			}
		}
	}	
}
.pane-press-center h2.pane-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.press-center { 
	.moscone-container-inner.moscone-header-inner {
	  display: none;
	}
	.moscone-container.moscone-header.clearfix.panel-panel.row-fluid {
	  display: none;
	}
	.landing .full-list {
		margin-top: 20px;
	}
	.phelan-column1-inner {
	  margin-bottom: 40px;
	  margin-right: 20px;
	}
	#block-views-tfall-tweets-block, .teachforall-twitter-block {
	  margin-top: 40px;
	}	
	.presskitupper {
		min-height: 160px;
		h3, a {
		  color: #4d4d4d;
		  font-size: 1.125rem;
		}
		p {
		    color: #4d4d4d;
		    font-family: "News Gothic","Arial Narrow",Arial,sans-serif;
		    font-size: 1rem;
		    font-weight: normal;
		    letter-spacing: 0;
		    line-height: 1.2rem;
		    margin-bottom: 1em;
		}	
	}
	.presskitupper2 {
		min-height: 160px;
		p a{
		    color: #4d4d4d;
		    font-family: "Fedra Serif",Georgia,"Times New Roman",serif;
		    font-size: 1.125rem;
		    letter-spacing: 0;
		    &:hover {
		    	color: #cf4753;
		    }
		}    
	}
	.presskitmini h2.pane-title{
		margin-bottom: 20px;
		margin-top: 0;
	}
	
	.view-id-press_center {
		.publicationname {
			font-family: "News Gothic Medium Oblique", "News Gothic", "Arial Narrow", Arial, sans-serif;
		}
		.views-field.views-field-field-pc-image.span4 {
		  position: relative;
		}
		.views-field.views-field-field-pc-summary {
		  margin-top: 10px;
		}			
		.icon-play {
		  background-color: #4d4d4d;
		  color: #ffb151;
		  font-size: 1.25rem;
		  left: 10px;
		  padding: 7px 10px;
		  position: absolute;
		  top: 10px;
		}	
		&.view-display-id-page_1 .field-content > h2,
		&.view-display-id-page_2 .field-content > h2 {
		  margin-bottom: 5px;
		  margin-top: 0;
		  line-height: 27px;
		}
		&.view-display-id-block_3 .field-content > h2,
		&.view-display-id-block_4 .field-content > h2 {
		  margin-bottom: 0px;
		  margin-top: 0;
		  line-height: 27px;
		}		
		 .views-row {
		  margin-bottom: 20px;
		}
		h2 a {
			color: #4d4d4d;
		}
		h3 {
			margin-bottom: 0px;
			a {
		  		color: #4d4d4d;
				&:hover {
			  		color: #cf4753;
				}
			}	
		}
		.pagination-centered {
		  padding-bottom: 40px;
		}
		.views-field.views-field-field-pc-image.span4,
		.views-field.views-field-field-pc-image.node--video--teaser {
		  margin-bottom: 10px;
		  position: relative;
		}				
	}
	.flexslider-info h2 a {
	  color: #fff !important;
	}
	.flexslider-preview {
	  padding-right: 20px;
	}
	#press-center-landing .view-press-center-slider.view-id-press_center_slider {
	  margin-top: 40px;
	}
	.flexslider-link a {
	  color: #fff !important;
	}		
}
.row-fluid .view-press-video-archive .views-row.span4 {
  margin: 0 .8%;
  min-height: 285px;
}

.press-center .view-press-video-archive {
	.views-field.views-field-created {
	  margin-bottom: 5px;
	}
	.views-field.views-field-title h3 {
		margin-top: 10px;		
		a {
		  color: #4d4d4d;
		}
	}
}


