.panel-pane.pane-block.pane-menu-descriptions-menu-press-center,
.panel-pane.pane-block.pane-menu-menu-press-center {
  background: #91998c none repeat scroll 0 0;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 20px;
  ul li.leaf {
	  list-style-image: none;
	  list-style-type: none;
  }
  ul {
	margin: 0 0 0px;
	padding: 0 0 0 10px;
  }
  li a{
    color: #000;
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    margin: 0 0 0px;
    font-weight: normal;
    text-transform: none;
  } 
	a::after {
	  color: #e69740;
	  content: " >>";
	  font-size: .75em;
	}
	a.active::after {
		 color: #cf4753;
	}   
}

.panel-pane.pane-block.pane-menu-menu-press-center  {
	 li a {
	  color: #fff;
	  font-family: "Fedra Serif",Georgia,"Times New Roman",serif;
	  font-weight: normal;
	  &.active {
		  color: #cf4753;
		}
	}
	p {
	  color: #000;
	  font-family: "News Gothic","Arial Narrow",Arial,sans-serif;
	  font-size: 1rem;
	  font-weight: normal;
	  letter-spacing: 0;
	  line-height: 1.2rem;
	  margin-bottom: 1em;
	}
}

.pane-press-center h2.pane-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.press-center { 
	.moscone-container-inner.moscone-header-inner {
	  display: none;
	}
	.moscone-container.moscone-header.clearfix.panel-panel.row-fluid {
	  display: none;
	}
	.landing .full-list {
		margin-top: 20px;
	}
	.phelan-column1-inner {
	  margin-bottom: 40px;
	  margin-right: 20px;
	}
	#block-views-tfall-tweets-block, .teachforall-twitter-block {
	  margin-top: 40px;
	}	
	.presskitupper {
		min-height: 160px;
		h3, a {
		  color: #4d4d4d;
		  font-size: 1.125rem;
		}
		p {
		    color: #4d4d4d;
		    font-family: "News Gothic","Arial Narrow",Arial,sans-serif;
		    font-size: 1rem;
		    font-weight: normal;
		    letter-spacing: 0;
		    line-height: 1.2rem;
		    margin-bottom: 1em;
		}	
	}
	.presskitupper2 {
		min-height: 160px;
		p a{
		    color: #4d4d4d;
		    font-family: "Fedra Serif",Georgia,"Times New Roman",serif;
		    font-size: 1.125rem;
		    &:hover {
		    	color: #cf4753;
		    }
		}    
	}	
	.view-id-press_center {
		.publicationname {
			font-family: "News Gothic Medium Oblique", "News Gothic", "Arial Narrow", Arial, sans-serif;
		}
		.views-field.views-field-field-pc-image.span4 {
		  position: relative;
		}	
		.icon-play {
		  background-color: #4d4d4d;
		  color: #ffb151;
		  font-size: 1.25rem;
		  left: 10px;
		  padding: 7px 10px;
		  position: absolute;
		  top: 10px;
		}	
		&.view-display-id-page_1 .field-content > h2,
		&.view-display-id-page_2 .field-content > h2 {
		  margin-bottom: 5px;
		  margin-top: 0;
		}
		&.view-display-id-block_3 .field-content > h2,
		&.view-display-id-block_4 .field-content > h2 {
		  margin-bottom: 0px;
		  margin-top: 0;
		}		
		 .views-row {
		  margin-bottom: 20px;
		}
		h3 {
			margin-bottom: 0px;
			a {
		  		color: #4d4d4d;
				&:hover {
			  		color: #cf4753;
				}
			}	
		}
	}
	.flexslider-info h2 a {
	  color: #fff !important;
	}
	.flexslider-preview {
	  padding-right: 20px;
	}
	#press-center-landing .view-press-center-slider.view-id-press_center_slider {
	  margin-top: 40px;
	}	
}
