
.region-title {
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    width: 724px;
  }
  @media screen and (min-width: 980px) and (max-width: 1199px) {
    width: 940px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
  h1 {
    color: $orange1;
    letter-spacing: .2em;
    line-height: 30px;
    margin: 0 0 30px;
    text-transform: uppercase;
    @include font-size(26);
    @media screen and (max-width: 350px) {
      @include font-size(24);
    }
  }
}
.page-about-vision-and-mission {
  .region-title {
    h1 {
      @include slug-medium;
      margin-top: 40px;
    }
  }
  .vision {
    p {
      color: $grey2;
      @include font-size(42);
      letter-spacing: 0;
      line-height: 56px;
      margin: 0 auto 20px;
      max-width: 620px;
      text-align: center;
      @media screen and (max-width: 350px) {
        @include font-size(24);
        line-height: 54px;
      }
    }
  }
}
.page-news,
.page-press {
  #page-title {
    @include h1;
  }
}
h2.news__title {
  @include font-size(42);
  line-height: 48px
}
.node-type-network-learning  {
  .panel-panel {
    h1 {
      color: $grey2;
      text-align: left;
    }
  }
}
