/**
*	#Table of Contents
**/

/**

#Colours
#WYSIWYG Classes

**/

/**
	#Colours
**/

$grey1:   #91998c;
$grey2:   #4d4d4d;
$grey3:   #3c3835;
$grey4:   #999;
$grey5:   #92998d;
$grey6:   #ccc;
$red:     #cf4753;
$red2:    #db4b57;
$orange1: #e69740;
$orange2: #ffb151;
$blue1:		#80b4e4;
$beige:   #dfd9c9;
$nearwhite: #eee;
$white:   #fff;
$nearblack: #030303;
$black:   #000;
$border_color1: #92998d;
$map_color2: #92b4a6;
$background_color1: #DFD9C9;

$base-font-size: 17;

/**
* #WYSIWYG Classes
**/

.beige {
  color: $beige;
}

.orange {
  color: $orange1;
}

.orange2 {
  color: $orange2;
}

.red {
  color: $red;
}

.black {
  color: $black;
}

h1, h2, h3, h4 {
  .beige {
    color: $beige;
  }

  .orange {
    color: $orange1;
  }

  .orange2 {
    color: $orange2;
  }

  .red {
    color: $red;
  }
  .black {
    color: $black;
  }
}
