/**
*	#Table of Contents
**/

/**
	#Colours
**/

$grey1: 	#91998c;
$grey2: 	#4d4d4d;
$grey3: 	#3c3835;
$grey4: 	#999;
$red: 		#cf4753;
$orange1: 	#e69740;
$orange2: 	#ffb151;
$beige: 	#dfd9c9;

$base-font-size: 17;
