/**
*	#Table of Contents
**/

/**
	#Colours
**/

$grey1:   #91998c;
$grey2:   #4d4d4d;
$grey3:   #3b3835;
$grey4:   #999;
$grey5:   #92998d;
$red:     #cf4753;
$orange1: #e69740;
$orange2: #ffb151;
$blue1:		#80b4e4;
$beige:   #dfd9c9;
$white:   #fff;
$black:   #000;
$border_color1: #92998d;

$base-font-size: 17;
