.network-learning-front-block {
  background-color: #3b3734;
  padding-bottom: 46px;
  margin-bottom: 0px;
}

@for $i from 1 through 10 {
  #block-views-featured-videos-block-#{$i} {
    h2 {
      @include FedraRegular;
      font-size: 22px;
      font-size: 1.375rem;
      font-weight: normal;
      display: block;
      margin-top: 0;
      margin-bottom: 15px;
      text-align: center;
      color: #e69740;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }
}

.node--video--teaser {
  @extend .span4;
  a {
    display: block;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    @media screen and (min-width: 440px) and (max-width: 767px) {
      margin: 0 auto 10px;
      max-width: 400px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      text-align: left;
    }
    img {
      max-width: 100%;
      @media screen and (min-width: 440px) and (max-width: 767px) {
        max-width: 400px;
      }
    }
    &:hover {
      &:after {
        background-color: rgba(0,0,0,0);
      }
    }
    &:after {
      background-color: rgba(0,0,0,0.25);
      background-image: url(../images/play.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80px auto;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      @include transition(all 0.2s ease);
      top: 0;
      width: 100%;
      z-index: 10;
    }
  }
  .video-embed-description {
    color: $white;
    @include FedraRegular;
    font-weight: normal;
    line-height: 24px;
    @include font-size(16);
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.region-net-learning-front {
  h2 {
    color: #ffffff;
    @include FedraRegular;
    letter-spacing: 3px;
    line-height: 22px;
    margin: 0 0 20px 0;
    @include font-size(18);
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      line-height: 20px;
      @include font-size(16);
    }
  }
}
