/**
*   #Table of Contents
**/

/**
    #Imports
    #Font-Face
    #Styleguide - Typography
    #Global Elements
    #Header
    #Main Navigation
    #Uber Navigation
    #Footer
    #Images
    #Supporters Widget
**/

/**
*   #Imports
**/

@import "compass/css3";
@import "compass/utilities";

@import "variables";
@import "mixins";

/**
* #Font-Face
**/

@font-face {
  font-family: "Fedra Serif";
  src: url('../fonts/FSerStdA-Book.otf');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "Fedra Serif";
  src: url('../fonts/FSerStdA-Bold.otf');
       font-style: normal;
       font-weight: bold;
}

@font-face {
  font-family: "News Gothic";
  src: url('../fonts/FSerStdA-Medium.otf');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "News Gothic";
  src: url('../NewsGothic-DemiBold.otf');
       font-style: normal;
       font-weight: bold;
}

/**/

/**
* #Styleguide - Typography
**/

h1, .h1 {
  @include font-size(42);
}

h2, .h2 {
  @include font-size(25);
}

h3, .h3 {
  @include font-size(18);
}

h4, .h4 {
  @include font-size(16);
}

a {
  color: $red;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

body {
  color: $grey1;
  @include font-size(17);
  font-family: "Fedra Serif", serif;
}

.small-body {
  @include font-size(16);
}

.blurb {
  @include font-size(36);
}

/**/

/**
* #Global Elements
**/

.page-title {
  text-align: center;
}

/**/

/**
* #Header
**/

.header {
  margin-top: 10px;
}

.site-name {
  text-align: center;
  img {
    margin-bottom: 20px;
  }
}

.donate {
  background-color: $orange1;
  color: $white;
  letter-spacing: 2px;
  margin-top: -4px;
  padding: 5px 5px 3px 5px;
  @include font-size(14);
  &:hover {
    background-color: $red;
    color: $white;
    cursor: pointer;
  }
}

.social-media {
  @include font-size(24);
  color: $grey1;
  padding-top: 3px;
  &:hover {
    color: $red;
    cursor: pointer;
    text-decoration: none;
  }
  &[class*=" icon-"] {
    vertical-align: middle;
  }
}

/**/

/**
* #Main Navigation
**/

.navbar-medium {
  .region-main-navigation {
    li {
      a {
        color: $beige;
        padding: 15px 15px 12px 15px;
        &:hover {
          background-color: $orange1;
          color: $white;
        }
      }
    }
  }
  .navbar-inner {
    background-color: $grey3;
    background-image: none;
    border: none;
    padding: 0;
    text-align: center;
  }
}

.navbar {
  font-weight: bold;
  .region-main-navigation {
    letter-spacing: 2px;
    text-transform: uppercase;
    @include font-size(14);
    ul {
      margin-bottom: 0;
      margin-top: 12px;
    }
    .content {
      .menu {
        .menu {
          display: none;
          background-color: $grey2;
          left: 0;
          margin-left: 0;
          margin: 8px 0 0 0;
          padding: 0;
          position: absolute;
          text-transform: none;
          width: 100%;
          z-index: 9999;
          li {
            border-bottom: 1px solid $border_color1;
            margin: 0;
            padding: 0;
            width: 100%;
            &.last {
              border: none;
              margin-bottom: 0;
            }
          }
          a {
            display: block;
            padding: 8px 8px 5px 15px;
          }
        }
      }
    }
    li {
      float: left;
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      position: relative;
      &:hover {
        border-color: $grey3;
      }
      &.expanded:hover {
        .menu {
          display: block;
        }
      }
    }
  }
}

/**/

/**
* #Uber Navigation
**/

.uber-nav {
  font-family: "News Gothic";
  font-weight: bold;
  .content {
    > .menu {
      position: relative;
      li:hover {
        .menu {
          display: block;
        }
      }
      li {
        position: relative;
        a {
          letter-spacing: 1px;
          &.active {
            color: $red;
          }
        }
        &.last {
          a {
            border-right: none;
          }
        }
      }
    }
  }
  a {
    border-right: 1px solid $orange1;
    color: $grey5;
    margin-left: -4px;
    padding: 3px 10px;
    text-transform: uppercase;
    @include font-size(14);
    &:hover {
      color: $red;
    }
  }
  ul {
    margin-left: 0;
  }
  .menu {
    .menu {
      display: none;
      background-color: $white;
      border: 1px solid $orange1;
      left: -5px;
      position: absolute;
      width: 100px;
      z-index: 9999;
      padding-left: 3px;
      text-align: left;
      a {
        border: none;
        @include font-size(14);
        display: block;
        margin: 0 3px 5px 3px;
        padding: 0;
        text-transform: none;
        &:hover {
          background-color: transparent;
          color: $red;
        }
        &:first-child {
          margin-top: 5px;
        }
        &.active {
          background-color: transparent;
        }
      }
      li {
        display: block;
      }
    }
    > li {
      display: inline;
      margin: 0;
      padding: 0;
      a:hover {
        background-color: $orange1;
        color: $white;
      }
    }
  }
  ul {
    li {
      line-height: 1em;
      &.expanded,
      &.leaf {
        list-style-type: none;
        list-style-image: none;
      }
    }
  }
}

/**/

/**
* #Footer
**/

#footer {
  background-color: $grey2;
  border: none;
}

.footer-menu {
  ul {
    margin: 0;
    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      a {
        @include font-size(12);
      }
    }
  }
  .content {
    > ul {
      > li {
        > a {
          color: $beige;
          text-transform: uppercase;
        }
        &:nth-child(1),
        &:nth-child(2) {
        }
        &:nth-child(3),
        &:nth-child(4) {
          float: right;
        }
        &:nth-child(5) {
        }
      }
    }
  }

}

/**/

/**
* #Images
**/

img {max-width: 100%;}
#googlemap img { max-width: none; }

/**/

/**
* #Supporters Widget
**/

.widget_supporters {
  background-color: $white;
  text-align: center;
  .title {
    color: $orange2;
    display: block;
    padding: 10px 0;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
  p {
    @include font-size(13);
    line-height: 1.5em;
  }
}

/**/
