/**
*   #Table of Contents
**/

/**
    #Imports
    #Font-Face
    #Styleguide - Typography
    #Global Elements
    #Objects
    #Header
    #Primary Navigation
    #Uber Navigation
    #Feeds
    #Footer
    #Images
    #Supporters Widget
    #Marquee

    ### NODES ###
    #National Organizations
    #Spotlight
**/

/**
*   #Imports
**/

@import "compass/css3";
@import "compass/utilities";

@import "variables";
@import "mixins";

/**
* #Font-Face
**/

@font-face {
  font-family: "Fedra Serif";
  src: url('../fonts/FSerStdA-Book.otf');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "Fedra Serif";
  src: url('../fonts/FSerStdA-Bold.otf');
       font-style: normal;
       font-weight: bold;
}

@font-face {
  font-family: "News Gothic";
  src: url('../fonts/NewsGothic-Medium.otf');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "News Gothic";
  src: url('../fonts/NewsGothic-DemiBold.otf');
       font-style: normal;
       font-weight: bold;
}

@font-face {
  font-family: "icomoon";
  src:url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src:url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-facebook, .ico-vimeo, .ico-twitter, .ico-linkedin {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ico-facebook:before {
  content: "\e000";
}
.ico-vimeo:before {
  content: "\e001";
}
.ico-twitter:before {
  content: "\e002";
}
.ico-linkedin:before {
  content: "\e003";
}

/**/

/**
* #Styleguide - Typography
**/

h1, .h1 {
  @include font-size(42);
}

h2, .h2 {
  @include font-size(25);
  font-family: "Fedra Serif", serif;
  line-height: 1em;
}

h3, .h3 {
  @include font-size(18);
}

h4, .h4 {
  @include font-size(16);
}

a {
  color: $red;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

body {
  color: $grey1;
  @include font-size(17);
  font-family: "News Gothic", sans-serif;
}

.small-body {
  @include font-size(16);
}

.blurb {
  @include font-size(36);
}

/**/

/**
* #Global Elements
**/

.search-form {
  .input-append {
    .btn {
      border: 1px solid #ccc;
    }
  }
}

.content {
  p:last-child {
    margin-bottom: 0;
  }
}

label, input, button, select, textarea {
  @include font-size(17);
}

html {
  &.js {
    input {
      &.form-autocomplete {
        background-position: 100% 9px;
      }
      &.throbbing {
        background-position: 100% -12px;
      }
    }
  }
}

.btn {
  background-color: $beige;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-family: inherit;
}

.btn-primary {
  background-color: $orange1;
  &:hover {
    background-color: $red;
  }
}

.nav-tabs {
  padding-top: 20px;
}

div.messages {
  margin: 20px 0;
}

.page-node .content .title {
  font-weight: normal;
  letter-spacing: 2px;
  padding-top: 0;
  text-transform: uppercase;
}

#main {
  padding: 20px 0;
}

.page-title {
  text-align: center;
}

/**/

/**
* #Objects
**/

.slug {
  @include font-size(11);
  color: $orange1;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/**/

/**
* #Header
**/

.header {
  margin-top: 10px;
}

.site-name {
  text-align: center;
  img {
    margin: 20px 0;
  }
}

.donate {
  background-color: $orange1;
  font-family: "Fedra Serif";
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 4px;
  padding: 0 5px;
  @include font-size(11);
  a {
    color: $white;
  }
  &:hover {
    background-color: $red;
    color: $white;
    cursor: pointer;
  }
}

.social-media {
  background-color: $grey1;
  color: $white;
  line-height: 1.3em;
  padding: 2px 3px;
  @include font-size(17);
  &:hover {
    background-color: $red;
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
  &[class*=" icon-"] {
    vertical-align: middle;
  }
}

/**/

/**
* #Primary Navigation
**/

.navbar-medium {
  .region-main-navigation {
    li {
      a {
        color: $beige;
        padding: 16px 25px 13px 25px;
        margin-left: -1px;
        &:hover {
          background-color: $orange1;
          color: $white;
        }
      }
    }
  }
  .navbar-inner {
    background-color: $grey3;
    background-image: none;
    border: none;
    padding: 0;
    text-align: center;
    ul {
      margin: 0;
    }
    .container {
      min-height: 40px;
    }
  }
}

.navbar {
  font-weight: bold;
  .region-main-navigation {
    font-family: "Fedra Serif";
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include font-size(12);
    ul {
      margin: 0 auto 12px;
    }
    .content {
      > .menu {
        > li {
          border-right: 1px solid $orange1;
          height: 12px;
          line-height: 1.2em;
          margin: 3px 0 0 0;
          &:hover {
            border-color: $grey2;
          }
          &.last {
            border: none;
          }
        }
        .menu {
          display: none;
          background-color: $grey2;
          left: 0;
          margin: 12px 0 0 -1px;
          padding: 0;
          position: absolute;
          text-transform: none;
          width: 100%;
          z-index: 9999;
          li {
            border-bottom: 1px solid $border_color1;
            font-family: "News Gothic", sans-serif;
            font-weight: normal;
            letter-spacing: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            &.last {
              border: none;
              margin-bottom: 0;
            }
          }
          a {
            display: block;
            margin: 0;
            padding: 8px 8px 5px 25px;
            @include font-size(16);
          }
        }
      }
    }
    li {
      float: left;
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      position: relative;
      &:hover {
        border-color: $grey3;
      }
      &.expanded:hover {
        .menu {
          display: block;
        }
      }
    }
  }
}

/**/

/**
* #Uber Navigation
**/

.uber-nav {
  font-weight: bold;
  .content {
    > .menu {
      position: relative;
      > li {
        border-right: 1px solid $orange1;
        float: left;
        height: 8px;
        line-height: .4em;
        margin: 0;
        padding: 0;
        position: relative;
        &:hover,
        &.active {
          border-color: $white;
        }
        &:last-child {
          border-right: none;
        }
        > a {
          letter-spacing: 2px;
          margin-left: -1px;
          padding-left: 12px;
          &:hover {
            background-color: $orange1;
            color: $white;
          }
          &.active {
            color: $red;
            &:hover {
              color: $white;
            }
          }
        }
      }
      li:hover {
        .menu {
          display: block;
        }
      }
    }
  }
  a {
    color: $grey5;
    padding: 5px 10px;
    text-transform: uppercase;
    @include font-size(11);
    &:hover {
      color: $red;
    }
  }
  ul {
    margin-left: 0;
  }
  .menu {
    .menu {
      display: none;
      background-color: $white;
      border: 1px solid $orange1;
      left: -1px;
      top: 14px;
      position: absolute;
      width: 100px;
      z-index: 9999;
      text-align: left;
      a {
        border: none;
        font-weight: normal;
        @include font-size(14);
        display: block;
        margin: 0 3px;
        padding: 0;
        text-transform: none;
        &:hover {
          background-color: transparent;
          color: $red;
        }
        &.active {
          background-color: transparent;
        }
      }
      li {
        display: block;
        padding-top: 0;
        &:first-child {
          margin-top: 2px;
        }
      }
    }
    > li {

    }
  }
  ul {
    li {
      list-style-type: none;
      list-style-image: none;
      &.expanded,
      &.leaf {
        list-style-type: none;
        list-style-image: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar .region-main-navigation ul {
    width: 78.7%;
  }
}

/**/

/**
* #worldmap
**/

#worldmap {
	background-color: $blue1;
	padding:0px;
}


/**
* #Feeds
**/

#feeds {
	background-color: $orange1;
  padding: 40px 0;
  h2 {
    color: $white;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

/**
* #Footer
**/

#footer {
  background-color: $grey2;
  border: none;
  padding: 40px 0;
  .block-block {
    @include font-size(12);
    width: 30%;
  }
}

.footer-links {
  a {
    margin-left: 0;
  }
}

.footer-menu {
  .menu {
    .menu {
      .last {
        margin-bottom: 10px;
      }
      a {
        color: $grey4;
        @include font-size(14);
        &:hover {
          color: $red;
        }
      }
    }
  }
  ul {
    margin: 0;
    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
    }
  }
  .content {
    > ul {
      > li {
        float: left;
        padding: 0;
        width: 33%;
        > a {
          color: $beige;
          font-family: "Fedra", serif;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          @include font-size(11);
        }
      }
    }
  }
}

/**/

/**
* #Images
**/

img {max-width: 100%;}
#googlemap img { max-width: none; }

/**/

/**
* #Supporters Widget
**/

.flexslider_supporter {
  a {
    margin: 0;
  }
}

.widget_supporters {
  background-color: $white;
  padding: 20px;
  text-align: center;
  .title {
    color: $orange2;
    font-family: "Fedra", serif;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 10px;
  }
  ul {
    padding: 0px;
    margin: 0px;
		li a {
			margin:0px;
		}
  }
  p {
    color: $grey4;
    @include font-size(16);
    line-height: 1.5em;
  }
}

.fb-like-box {
	background-color: $white;
}

/**/

/**
* #Marquee
**/

.marquee {
  background-color: $grey1;
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.marquee__info-wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 70%;
}

.marquee__title {
  color: $white;
  font-weight: normal;
}

.marquee__large {
  background-color: $black;
  float: left;
  position: relative;
  width: 50%;
}

.marquee__medium {
  background-color: $red;
  float: right;
  width: 25%;
}

.marquee__small {
  background-color: $orange1;
  float: left;
  width: 25%;
}

.marquee__hover {
  background-color: $grey3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.marquee__1[data-effeckt-type="cover-fade"]:hover .marquee__hover,
.marquee__1[data-effeckt-type="cover-fade"]:active .marquee__hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .marquee__large {
    width: 100%;
  }
}

/**/

/* ### NODES ### */

/**
* #National Organizations
**/

.node-type-national-organization {
  .title {
    color: $orange1;
  }
}

.no__ceo {
  a {
    display: block;
  }
}

.no__image {
  img {
    width: 100%;
  }
}

.no__blurb {
  @include font-size(36);
  line-height: 1.1em;
  color: $grey1;
  margin: 20px 0;
}

.no__info-block {
  color: $red;
  margin-bottom: 40px;
  .field-item {
    @include font-size(18);
  }
}

.no__stats {
  color: $grey1;
  @include font-size(18);
  strong {
    color: $black;
  }
}

.no__stat {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.node {
  .content {
    .no__spotlights {
      @extend h2;
      line-height: 1em;
      text-transform: none;
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

/**/

/**
* #Spotlight
**/

.node-type-spotlight {
  .title {
    color: $orange1;
  }
  .content {
    img {
      background-color: $beige;
      float: right;
      margin: 0 0 10px 5px;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .node-type-spotlight {
    .content {
      img {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 2%;
        width: 96%;
        height: auto;
      }
    }
  }
}
