/**
*   #Table of Contents
**/

/**
    #Imports
    #Font-Face
    #Styleguide - Typography
    #Global Elements
    #Objects
    #Header
    #Main Navigation
    #Uber Navigation
    #Footer
    #Images
    #Supporters Widget

    ### NODES ###
    #National Organizations
**/

/**
*   #Imports
**/

@import "compass/css3";
@import "compass/utilities";

@import "variables";
@import "mixins";

/**
* #Font-Face
**/

@font-face {
  font-family: "Fedra Serif";
  src: url('../fonts/FSerStdA-Book.otf');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "Fedra Serif";
  src: url('../fonts/FSerStdA-Bold.otf');
       font-style: normal;
       font-weight: bold;
}

@font-face {
  font-family: "News Gothic";
  src: url('../fonts/FSerStdA-Medium.otf');
       font-style: normal;
       font-weight: normal;
}

@font-face {
  font-family: "News Gothic";
  src: url('../NewsGothic-DemiBold.otf');
       font-style: normal;
       font-weight: bold;
}

/**/

/**
* #Styleguide - Typography
**/

h1, .h1 {
  @include font-size(42);
}

h2, .h2 {
  @include font-size(25);
  font-family: "Fedra Serif", serif;
}

h3, .h3 {
  @include font-size(18);
}

h4, .h4 {
  @include font-size(16);
}

a {
  color: $red;
  &:hover {
    color: $red;
    text-decoration: none;
  }
}

body {
  color: $grey1;
  @include font-size(17);
  font-family: "News Gothic", sans-serif;
}

.small-body {
  @include font-size(16);
}

.blurb {
  @include font-size(36);
}

/**/

/**
* #Global Elements
**/

.page-title {
  text-align: center;
}

/**/

/**
* #Objects
**/

.slug {
  @include font-size(11);
  color: $orange1;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/**/

/**
* #Header
**/

.header {
  margin-top: 10px;
}

.site-name {
  text-align: center;
  img {
    margin-bottom: 20px;
  }
}

.donate {
  background-color: $orange1;
  color: $white;
  font-family: "Fedra Serif";
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -4px;
  padding: 5px 5px 3px 5px;
  @include font-size(11);
  &:hover {
    background-color: $red;
    color: $white;
    cursor: pointer;
  }
}

.social-media {
  @include font-size(24);
  color: $grey1;
  padding-top: 3px;
  &:hover {
    color: $red;
    cursor: pointer;
    text-decoration: none;
  }
  &[class*=" icon-"] {
    vertical-align: middle;
  }
}

/**/

/**
* #Main Navigation
**/

.navbar-medium {
  .region-main-navigation {
    li {
      a {
        color: $beige;
        padding: 16px 15px 13px 15px;
        &:hover {
          background-color: $orange1;
          color: $white;
        }
      }
    }
  }
  .navbar-inner {
    background-color: $grey3;
    background-image: none;
    border: none;
    padding: 0;
    text-align: center;
  }
}

.navbar {
  font-weight: bold;
  .region-main-navigation {
    font-family: "Fedra Serif";
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include font-size(12);
    ul {
      margin-bottom: 0;
      margin-top: 12px;
    }
    .content {
      > .menu {
        > li {
          border-right: 1px solid $orange1;
          height: 12px;
          line-height: 1.2em;
          margin-top: 3px;
          &.last {
            border: none;
          }
        }
        .menu {
          display: none;
          background-color: $grey2;
          left: 0;
          margin: 12px 0 0 0;
          padding: 0;
          position: absolute;
          text-transform: none;
          width: 100%;
          z-index: 9999;
          li {
            border-bottom: 1px solid $border_color1;
            font-family: "News Gothic", sans-serif;
            font-weight: normal;
            letter-spacing: 0;
            margin: 0;
            padding: 0;
            width: 100%;
            &.last {
              border: none;
              margin-bottom: 0;
            }
          }
          a {
            display: block;
            padding: 8px 8px 5px 15px;
            @include font-size(16);
          }
        }
      }
    }
    li {
      float: left;
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      position: relative;
      &:hover {
        border-color: $grey3;
      }
      &.expanded:hover {
        .menu {
          display: block;
        }
      }
    }
  }
}

/**/

/**
* #Uber Navigation
**/

.uber-nav {
  font-weight: bold;
  .content {
    > .menu {
      position: relative;
      li:hover {
        .menu {
          display: block;
        }
      }
      li {
        position: relative;
        a {
          letter-spacing: 1px;
          &.active {
            color: $red;
          }
        }
        &.last {
          a {
            border-right: none;
          }
        }
      }
    }
  }
  a {
    border-right: 1px solid $orange1;
    color: $grey5;
    margin-left: -5px;
    padding: 5px 10px 4px;
    text-transform: uppercase;
    @include font-size(11);
    &:hover {
      color: $red;
    }
  }
  ul {
    margin-left: 0;
  }
  .menu {
    .menu {
      display: none;
      background-color: $white;
      border: 1px solid $orange1;
      left: -5px;
      position: absolute;
      width: 100px;
      z-index: 9999;
      padding-left: 6px;
      text-align: left;
      a {
        border: none;
        font-weight: normal;
        @include font-size(14);
        display: block;
        margin: 0 3px 5px 3px;
        padding: 0;
        text-transform: none;
        &:hover {
          background-color: transparent;
          color: $red;
        }
        &:first-child {
          margin-top: 5px;
        }
        &.active {
          background-color: transparent;
        }
      }
      li {
        display: block;
      }
    }
    > li {
      display: inline;
      margin: 0;
      padding: 0;
      a:hover {
        background-color: $orange1;
        color: $white;
      }
    }
  }
  ul {
    li {
      line-height: 1em;
      &.expanded,
      &.leaf {
        list-style-type: none;
        list-style-image: none;
      }
    }
  }
}

/**/

/** 
* #Feeds 
**/ 
#feeds {
	background-color: $orange1;
	min-height:250px;
	div.container {
		padding:10px 0px;
	}
}

/**
* #Footer
**/

#footer {
  background-color: $grey2;
  border: none;
  .block-block {
    @include font-size(12);
  }
}

.footer-links {
  a {
    margin-left: 0;
  }
}

.footer-menu {
  .menu {
    .menu {
      .last {
        margin-bottom: 10px;
      }
      a {
        color: $grey4;
        @include font-size(14);
        &:hover {
          color: $red;
        }
      }
    }
  }
  ul {
    margin: 0;
    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
    }
  }
  .content {
    > ul {
      > li {
        float: left;
        padding: 0;
        width: 33%;
        > a {
          color: $beige;
          font-family: "Fedra", serif;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
          @include font-size(11);
        }
      }
    }
  }
}

/**/

/**
* #Images
**/

img {max-width: 100%;}
#googlemap img { max-width: none; }

/**/

/**
* #Supporters Widget
**/

.flexslider_supporter {
  a {
    margin: 0;
  }
}

.widget_supporters {
  background-color: $white;
  padding: 20px;
  text-align: center;
  .title {
    color: $orange2;
    font-family: "Fedra", serif;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
  }
  ul {
    padding: 0px;
    margin: 0px;
		li a {
			margin:0px;
		}
  }
  p {
    @include font-size(13);
    line-height: 1.5em;
  }
}

.fb-like-box {
	background-color:white;
}

/**/

/* ### NODES ### */

/**
* #National Organizations
**/

.node-type-national-organization {
  .title {
    color: $orange1;
  }
}

.field-name-field-blurb {
  @include font-size(32);
  line-height: 1.1em;
  color: $grey1;
  margin: 20px 0;
}

.no__info-block {
  color: $red;
  margin-bottom: 40px;
  .field-item {
    @include font-size(18);
  }
}

.no__website-info {

}

/**/
